Prosegur/FactoringDriveSheet.json
{
  "name": "MuestraFactoringHost",
  "nodes": [
    {
      "parameters": {
        "options": {
          "batch": false
        }
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        336,
        144
      ],
      "id": "2477e3ed-d5e1-4e15-8563-9307ffa9a46d",
      "name": "Extract text from cartera",
      "credentials": {
        "mistralCloudApi": {
          "id": "dPmVTTuY3pvPZaYj",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1084fef7-1ec2-42ba-aab1-0928ec843753",
              "name": "fecha_reporte",
              "value": "={{ $json.pages[0].markdown.match(/Fecha Consulta:\\s*(\\d{2}\\/\\d{2}\\/\\d{4})/)[1] }}",
              "type": "string"
            },
            {
              "id": "9020b0b2-47cd-4eb3-89f2-39825362d4e3",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        336
      ],
      "id": "c8509c64-e892-4d75-98fe-c50b9be715f8",
      "name": "Captura_Fecha_Cartera"
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        672,
        144
      ],
      "id": "da9d7ed7-9f88-4071-a90a-78b0786b4201",
      "name": "Split Out Cartera"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral-small-latest"
            },
            {
              "name": "messages",
              "value": "={{ \n[\n  {\n    \"role\": \"user\",\n    \"content\": \"Extrae la información completa del siguiente texto y devuélvela estrictamente en formato JSON. Incluye todos los campos disponibles sin omitir ninguno. Si un campo no tiene valor, usa null. Esquema requerido: { \\\"cliente\\\": { \\\"nombre\\\": \\\"\\\", \\\"id\\\": \\\"\\\", \\\"ciudad\\\": \\\"\\\", \\\"actividad_economica\\\": \\\"\\\" }, \\\"operacion\\\": { \\\"id\\\": \\\"\\\", \\\"saldo_total\\\": \\\"\\\", \\\"plazo_meses\\\": \\\"\\\", \\\"tasa_interes_nm\\\": \\\"\\\", \\\"plan_amortizacion\\\": \\\"\\\" }, \\\"garantia\\\": { \\\"estado\\\": \\\"\\\", \\\"tipo\\\": \\\"\\\", \\\"valor_avaluo\\\": \\\"\\\", \\\"detalle\\\": \\\"\\\" }, \\\"detalle_financiero\\\": { \\\"fecha_desembolso\\\": \\\"\\\", \\\"nro_radicado\\\": \\\"\\\", \\\"estado_capital\\\": \\\"\\\", \\\"fecha_vencimiento_capital\\\": \\\"\\\", \\\"valor_desembolso\\\": \\\"\\\", \\\"saldo_capital\\\": \\\"\\\", \\\"vencido\\\": \\\"\\\", \\\"dias_vencido\\\": \\\"\\\", \\\"valor_vencido\\\": \\\"\\\", \\\"tiene_mora\\\": \\\"\\\", \\\"valor_mora\\\": \\\"\\\", \\\"fecha_ultimo_abono\\\": \\\"\\\", \\\"valor_ultimo_abono\\\": \\\"\\\" } } Texto a procesar: \" + $json.markdown\n  }\n] \n}}"
            },
            {
              "name": "response_format",
              "value": "={{ {\"type\": \"json_object\"} }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        320
      ],
      "id": "655a2a0a-87e1-4393-b601-83d3b88dfbeb",
      "name": "HTTP Request Cartera",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "ZmhNATF0vGQfKowg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let allRows = [];\n\n// 1. Función para limpiar números (Quita comas y convierte a número real)\nconst limpiarNumero = (valor) => {\n  if (typeof valor === 'number') return valor;\n  if (!valor || valor === \"-\") return 0;\n  // Quitamos las comas (separadores de miles)\n  // Mantenemos el punto si es decimal\n  let limpio = valor.toString().replace(/,/g, '');\n  return parseFloat(limpio) || 0;\n};\n\nlet fechaConsultaGlobal = \"\";\ntry {\n  fechaConsultaGlobal = $(\"Captura_Fecha_Cartera\").first().json.fecha_reporte;\n} catch (e) {\n  fechaConsultaGlobal = \"00/00/0000\";\n}\n\nfor (const item of $input.all()) {\n  try {\n    const rawContent = item.json.choices[0].message.content;\n    const data = JSON.parse(rawContent);\n    \n    let detalleUnificado = \"\";\n    if (data.garantia) {\n      const listaGarantias = Array.isArray(data.garantia) ? data.garantia : [data.garantia];\n      detalleUnificado = listaGarantias.map((g, i) => \n        `Garantía ${i + 1}: ${g.tipo || ''} - ${g.detalle || ''}`\n      ).join(' | ');\n    }\n\n    const detalles = Array.isArray(data.detalle_financiero) \n      ? data.detalle_financiero \n      : [data.detalle_financiero];\n\n    detalles.forEach(desembolso => {\n      const partes = fechaConsultaGlobal.split('/');\n      const mes = partes[1] || \"00\";\n      const anio = partes[2] || \"0000\";\n\n      allRows.push({\n        json: {\n          Cliente: data.cliente.nombre,\n          Identificación: data.cliente.id,\n          ActividadEconómica: data.cliente.actividad_economica,\n          Operación: data.operacion.id,\n          // --- APLICAMOS LIMPIEZA A CAMPOS NUMÉRICOS ---\n          SaldoTotal: limpiarNumero(data.operacion.saldo_total),\n          PlazoMeses: limpiarNumero(data.operacion.plazo_meses),\n          TasaInterés: limpiarNumero(data.operacion.tasa_interes_nm),\n          PlanAmortización: data.operacion.plan_amortizacion,\n          GarantiaDetalle: detalleUnificado, \n          EstadoGarantia: Array.isArray(data.garantia) ? data.garantia[0].estado : (data.garantia?.estado || null),\n          TipoGarantia: Array.isArray(data.garantia) ? data.garantia[0].tipo : (data.garantia?.tipo || null),\n          FechaDesembolso: desembolso.fecha_desembolso,\n          NumeroRadicado: desembolso.nro_radicado,\n          EstadoCapital: desembolso.estado_capital,\n          FechaVencimientoCapital: desembolso.fecha_vencimiento_capital,\n          ValorDesembolso: limpiarNumero(desembolso.valor_desembolso),\n          SaldoCapital: limpiarNumero(desembolso.saldo_capital),\n          Vencido: desembolso.vencido,\n          DiasVencido: limpiarNumero(desembolso.dias_vencido),\n          ValorVencido: limpiarNumero(desembolso.valor_vencido),\n          TieneMora: desembolso.tiene_mora,\n          ValorMora: limpiarNumero(desembolso.valor_mora),\n          FechaUltimoAbono: desembolso.fecha_ultimo_abono,\n          ValorUltimoAbono: limpiarNumero(desembolso.valor_ultimo_abono),\n          NombreArchivo: `Cartera_${mes}_${anio}.xlsx`\n        }\n      });\n    });\n  } catch (e) {\n    console.error(\"Error procesando un ítem: \", e);\n  }\n}\n\nreturn allRows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        144
      ],
      "id": "eef272e9-7b7e-4ac9-892c-b2c7c6b380e5",
      "name": "Code Extract Cartera"
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos todos los items que llegan al nodo\nconst items = $input.all();\n\n// 1. Ordenamos por nombre de Cliente para que el Excel sea profesional y organizado\nitems.sort((a, b) => {\n  const clienteA = (a.json[\"Cliente\"] || \"\").toLowerCase();\n  const clienteB = (b.json[\"Cliente\"] || \"\").toLowerCase();\n  if (clienteA < clienteB) return -1;\n  if (clienteA > clienteB) return 1;\n  return 0;\n});\n\n// 2. Mantenemos el nombre del archivo que ya viene procesado correctamente\n// No necesitamos volver a separar la fecha por '/' porque el nodo anterior ya hizo\n// el trabajo de extraer la Fecha de Consulta global.\nfor (let item of items) {\n  // Si por alguna razón el nombre llega vacío, ponemos uno por defecto, \n  // pero ya no usamos la FechaDesembolso para no separar el reporte en años viejos.\n  if (!item.json.NombreArchivo) {\n    item.json.NombreArchivo = \"Cartera_Reporte_General.xlsx\";\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        336
      ],
      "id": "522853b8-9be8-4ffd-b2aa-cca3b3243036",
      "name": "Code Order Cartera"
    },
    {
      "parameters": {
        "options": {
          "batch": false
        }
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        368,
        624
      ],
      "id": "45a84f0f-ca84-4c8a-bedc-863a2abd054c",
      "name": "Extract text Factoring Op",
      "credentials": {
        "mistralCloudApi": {
          "id": "dPmVTTuY3pvPZaYj",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        768,
        640
      ],
      "id": "f878a357-485e-4f16-a8a5-1fedd2391bbb",
      "name": "Split Out Factoring Op"
    },
    {
      "parameters": {
        "jsCode": "let allRows = [];\n\n// Función para limpiar números (Quita comas y convierte a número real)\nconst limpiarNumero = (valor) => {\n  if (typeof valor === 'number') return valor;\n  if (!valor || valor === \"-\" || valor === \"\") return 0;\n  // Quitamos las comas (separadores de miles) y convertimos a decimal\n  let limpio = valor.toString().replace(/,/g, '');\n  return parseFloat(limpio) || 0;\n};\n\nfor (const item of $input.all()) {\n  try {\n    // 1. Extraer el contenido del mensaje de Mistral\n    const rawContent = item.json.choices[0].message.content;\n    const data = JSON.parse(rawContent);\n\n    // 2. Extraer datos generales de la operación\n    const operacionNro = data.operacion.nro;\n    const tasaDescuento = limpiarNumero(data.operacion.tasa_descuento);\n    const fechaOperacion = $(\"Captura_Fecha_Factoring_Op\").first().json.fecha_reporte;\n    const cliente = data.operacion.cliente.nombre;\n    const clienteNit = data.operacion.cliente.nit;\n    const pagador = data.operacion.pagador.nombre;\n    const pagadorNit = data.operacion.pagador.nit;\n    const netoEntregar = limpiarNumero(data.liquidacion.valor_neto_entregar);\n\n    // 3. Recorrer cada factura en el detalle\n    if (data.detalle_facturas && Array.isArray(data.detalle_facturas)) {\n      data.detalle_facturas.forEach(fac => {\n        allRows.push({\n          json: {\n            Operacion: operacionNro,\n            Cliente: cliente,\n            NIT_Cliente: clienteNit,\n            Factura_Numero: fac.doc_nro,\n            // --- APLICAMOS LIMPIEZA A CAMPOS NUMÉRICOS ---\n            Monto: limpiarNumero(fac.valor_neto),\n            Dias: limpiarNumero(fac.dias),\n            Tasa_Descuento: tasaDescuento,\n            Pagador: pagador,\n            NIT_Pagador: pagadorNit,\n            Fecha_Aprobacion: fechaOperacion,\n            Valor_Aprobado: limpiarNumero(fac.valor_presente),\n            Valor_Desembolsado: netoEntregar, // Este es el neto de la liquidación general\n            Fecha_Desembolso: fac.fecha_inicial,\n            Fecha_Vencimiento: fac.fecha_vencimiento,\n            Valor_Reserva: limpiarNumero(fac.valor_reserva),\n            Descuento_Financiero: limpiarNumero(fac.descuento_financiero),\n            // Nombre de archivo sugerido\n            NombreArchivo: `Factoring_OP_${operacionNro}.xlsx`\n          }\n        });\n      });\n    }\n  } catch (e) {\n    console.error(\"Error en Code Extract Factoring: \", e);\n  }\n}\n\nreturn allRows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        640
      ],
      "id": "935160ec-b748-4a30-931b-ef4bdf58dff9",
      "name": "Code Extract Factoring Op"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral-small-latest"
            },
            {
              "name": "messages",
              "value": "={{ \n[\n  {\n    \"role\": \"user\",\n    \"content\": \"Analiza esta Solicitud de Operación. El OCR tiene un error de segmentación: la tabla de facturas se corta en 'Vr. Reserva' y los valores de 'Descuento Financiero' aparecen como líneas de texto sueltas justo después.\\n\\nINSTRUCCIONES DE EXTRACCIÓN DINÁMICA:\\n1. IDENTIFICACIÓN DE FILAS: Extrae cada factura manteniendo los 11 campos. \\n2. RECONSTRUCCIÓN DE COLUMNA: Para el campo 'descuento_financiero', busca los valores numéricos que el OCR extrajo como saltos de línea (`\\n`) o texto independiente fuera de los separadores '|'. \\n3. ASIGNACIÓN: El primer valor suelto corresponde a la primera factura, el segundo a la segunda, y así sucesivamente. No asumas que el valor está en la liquidación; búscalo en el cuerpo del texto.\\n\\nJSON REQUERIDO:\\n{\\n  \\\"operacion\\\": {\\n    \\\"nro\\\": \\\"\\\",\\n    \\\"fecha_operacion\\\": \\\"\\\",\\n    \\\"tasa_descuento\\\": \\\"\\\",\\n    \\\"cliente\\\": { \\\"nombre\\\": \\\"\\\", \\\"nit\\\": \\\"\\\" },\\n    \\\"pagador\\\": { \\\"nombre\\\": \\\"\\\", \\\"nit\\\": \\\"\\\" }\\n  },\\n  \\\"detalle_facturas\\\": [\\n    {\\n      \\\"doc_nro\\\": \\\"\\\",\\n      \\\"dias\\\": \\\"\\\",\\n      \\\"fecha_inicial\\\": \\\"\\\",\\n      \\\"fecha_vencimiento\\\": \\\"\\\",\\n      \\\"valor_neto\\\": \\\"\\\",\\n      \\\"valor_presente\\\": \\\"\\\",\\n      \\\"valor_reserva\\\": \\\"\\\",\\n      \\\"descuento_financiero\\\": \\\"\\\"\\n    }\\n  ],\\n  \\\"liquidacion\\\": { \\\"valor_neto_entregar\\\": \\\"\\\" }\\n}\\n\\nTexto a procesar: \" + $json.markdown\n  }\n] \n}}"
            },
            {
              "name": "response_format",
              "value": "={{ {\"type\": \"json_object\"} }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        816
      ],
      "id": "0b23ad13-f621-4044-84e5-c81f290c1ea3",
      "name": "HTTP Request Factoring Op",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "ZmhNATF0vGQfKowg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1084fef7-1ec2-42ba-aab1-0928ec843753",
              "name": "fecha_reporte",
              "value": "={{ $json.pages[0].markdown.match(/\\|\\s*(\\d{2}\\/\\d{2}\\/\\d{4})/)[1] }}",
              "type": "string"
            },
            {
              "id": "9020b0b2-47cd-4eb3-89f2-39825362d4e3",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        816
      ],
      "id": "f6ad46f3-284c-421a-bf5f-9a94750fb2dc",
      "name": "Captura_Fecha_Factoring_Op"
    },
    {
      "parameters": {
        "options": {
          "batch": false
        }
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        416,
        1088
      ],
      "id": "1011deca-d04b-4b69-ab9c-ee1b9e7b6604",
      "name": "Extract text Factoring Pagos",
      "credentials": {
        "mistralCloudApi": {
          "id": "dPmVTTuY3pvPZaYj",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        640,
        1296
      ],
      "id": "4b86bd98-da27-4f64-8098-1511f482006b",
      "name": "Split Out Factoring Pagos"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral-small-latest"
            },
            {
              "name": "messages",
              "value": "={{ \n[\n  {\n    \"role\": \"user\",\n    \"content\": \"Analiza este documento de 'PAGOS CLIENTES'. Extrae la información detallada de la liquidación y el recaudo.\\n\\nINSTRUCCIONES DE EXTRACCIÓN:\\n1. GENERAL: Extrae el número de pago (PAGO N°.), el cliente, su NIT y la fecha de pago.\\n2. TABLA DE LIQUIDACIÓN: Extrae cada fila de la tabla 'Liquidación a fecha pago'. Debes incluir:\\n   - op_nro, doc_nro, pagador, dias, vr_total_titulo, vr_nominal, descuento_financiero, vr_pagado y saldo.\\n3. DETALLE RECAUDO: Extrae el 'Valor Recaudado' y el 'Total Devolución'.\\n\\nJSON REQUERIDO:\\n{\\n  \\\"pago\\\": {\\n    \\\"nro\\\": \\\"\\\",\\n    \\\"fecha\\\": \\\"\\\",\\n    \\\"cliente\\\": { \\\"nombre\\\": \\\"\\\", \\\"nit\\\": \\\"\\\", \\\"reliquidacion\\\": \\\"\\\", \\\"fecha_reliquidacion\\\": \\\"\\\" }\\n  },\\n  \\\"detalle_facturas\\\": [\\n    {\\n      \\\"op_nro\\\": \\\"\\\",\\n      \\\"doc_nro\\\": \\\"\\\",\\n      \\\"pagador\\\": \\\"\\\",\\n      \\\"cc_o_nit\\\": \\\"\\\",\\n      \\\"fecha_inicial\\\": \\\"\\\",\\n      \\\"fecha_final\\\": \\\"\\\",\\n      \\\"dias\\\": \\\"\\\",\\n      \\\"vr_total_titulo\\\": \\\"\\\",\\n      \\\"vr_nominal\\\": \\\"\\\",\\n      \\\"descuento_financiero\\\": \\\"\\\",\\n      \\\"vr_pagado\\\": \\\"\\\",\\n      \\\"saldo\\\": \\\"\\\"\\n    }\\n  ],\\n  \\\"recaudo\\\": {\\n    \\\"valor_recaudado\\\": \\\"\\\",\\n    \\\"total_devolucion\\\": \\\"\\\"\\n  }\\n}\\n\\nTexto a procesar: \" + $json.markdown\n  }\n] \n}}"
            },
            {
              "name": "response_format",
              "value": "={{ {\"type\": \"json_object\"} }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        1088
      ],
      "id": "f3259a16-aa53-46c7-ac52-19b05d4ce51a",
      "name": "HTTP Request Factoring Pagos",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "ZmhNATF0vGQfKowg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let allRows = [];\n\n// Función para limpiar números (Quita comas y convierte a número real)\nconst limpiarNumero = (valor) => {\n  if (typeof valor === 'number') return valor;\n  if (!valor || valor === \"-\" || valor === \"\" || valor === undefined) return 0;\n  // Quitamos las comas (separadores de miles) y convertimos a decimal\n  let limpio = valor.toString().replace(/,/g, '');\n  return parseFloat(limpio) || 0;\n};\n\nfor (const item of $input.all()) {\n  try {\n    const rawContent = item.json.choices[0].message.content;\n    const data = JSON.parse(rawContent);\n\n    const pagoNro = data.pago.nro;\n    const fechaPago = data.pago.fecha;\n    const cliente = data.pago.cliente.nombre;\n    const nit = data.pago.cliente.nit;\n    const reliquidacion = data.pago.cliente.reliquidacion;\n    const fechaReliquidacion = data.pago.cliente.fecha_reliquidacion;\n    \n    // Limpiamos el valor recaudado general del comprobante\n    const valorRecaudado = limpiarNumero(data.recaudo.valor_recaudado);\n\n    if (data.detalle_facturas && Array.isArray(data.detalle_facturas)) {\n      data.detalle_facturas.forEach(fac => {\n        allRows.push({\n          json: {\n            Pago_Nro: pagoNro,\n            Fecha_Pago: fechaPago,\n            Cliente: cliente,\n            Nit: nit,\n            Reliquidacion: reliquidacion,\n            Fecha_Reliquidacion: fechaReliquidacion,\n            OP_Relacionada: fac.op_nro,\n            Factura_Nro: fac.doc_nro,\n            CC_o_NIT: fac.cc_o_nit,\n            Pagador: fac.pagador,\n            Fecha_Inicial: fac.fecha_inicial,\n            Fecha_Final: fac.fecha_final,\n            // --- CAMPOS NUMÉRICOS LIMPIOS ---\n            Dias_Cartera: limpiarNumero(fac.dias),\n            Valor_Titulo: limpiarNumero(fac.vr_total_titulo),\n            Valor_Nominal: limpiarNumero(fac.vr_nominal),\n            Descuento_Financiero: limpiarNumero(fac.descuento_financiero),\n            Monto_Pagado: limpiarNumero(fac.vr_pagado),\n            Saldo_Restante: limpiarNumero(fac.saldo),\n            Total_Recaudado_Comprobante: valorRecaudado,\n            // Nombre de archivo\n            NombreArchivo: `Pagos_Factoring_${pagoNro}.xlsx`\n          }\n        });\n      });\n    }\n  } catch (e) {\n    console.error(\"Error en Code Extract Pagos: \", e);\n  }\n}\n\nreturn allRows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        1296
      ],
      "id": "09489c52-19e3-42a0-99c9-fa72a507998a",
      "name": "Code Extract Factoring Pagos"
    },
    {
      "parameters": {
        "options": {
          "batch": false
        }
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        352,
        1568
      ],
      "id": "1ce89d0a-f3fb-4a17-b8e5-050cfd791a3b",
      "name": "Extract text Factoring Opf",
      "credentials": {
        "mistralCloudApi": {
          "id": "dPmVTTuY3pvPZaYj",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1084fef7-1ec2-42ba-aab1-0928ec843753",
              "name": "fecha_reporte",
              "value": "={{ $json.pages[0].markdown.match(/\\|\\s*(\\d{2}\\/\\d{2}\\/\\d{4})/)[1] }}",
              "type": "string"
            },
            {
              "id": "9020b0b2-47cd-4eb3-89f2-39825362d4e3",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        1760
      ],
      "id": "f73d264f-b683-4859-b9b1-a3f6d38a8f60",
      "name": "Captura_Fecha_Factoring_Opf"
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        736,
        1568
      ],
      "id": "e7ed82d5-8c88-4251-9cc8-38f02221498a",
      "name": "Split Out Factoring Opf"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral-small-latest"
            },
            {
              "name": "messages",
              "value": "={{ \n[\n  {\n    \"role\": \"user\",\n    \"content\": \"Analiza este documento de 'CONFIRMING-PAGO PROVEEDORES'. Extrae la información técnica y los títulos.\\n\\nINSTRUCCIONES CRÍTICAS DE FILTRADO:\\n1. TABLA DE TÍTULOS: Extrae solo los registros individuales de títulos. \\n2. EXCLUSIÓN: Ignora y NO extraigas las filas que digan 'Total:', 'Subtotal' o que contengan sumatorias de las columnas. Solo queremos los datos de cada factura/título por separado.\\n3. VALIDACIÓN: Cada objeto en 'detalle_titulos' debe tener un 'id_titulo' numérico real.\\n\\nINSTRUCCIONES DE EXTRACCIÓN:\\n1. ENCABEZADO: Extrae el número de operación (OPERACION N°.), Emisor, Deudor y NITs.\\n2. TASA: 'FACTOR DE DESCUENTO' (ej: 1.80% n.m.v.).\\n3. CAMPOS POR TÍTULO: id_titulo, fecha_inicial, fecha_final, dias, vr_nominal, reembolso_g_desembolso, base_negociacion, rend_proyectados y valor_pagar_deudor.\\n\\nJSON REQUERIDO:\\n{\\n  \\\"operacion\\\": {\\n    \\\"nro\\\": \\\"\\\",\\n    \\\"fecha\\\": \\\"\\\",\\n    \\\"factor_descuento\\\": \\\"\\\",\\n    \\\"emisor\\\": { \\\"nombre\\\": \\\"\\\", \\\"nit\\\": \\\"\\\" },\\n    \\\"deudor\\\": { \\\"nombre\\\": \\\"\\\", \\\"nit\\\": \\\"\\\" }\\n  },\\n  \\\"detalle_titulos\\\": [\\n    {\\n      \\\"id_titulo\\\": \\\"\\\",\\n      \\\"fecha_inicial\\\": \\\"\\\",\\n      \\\"fecha_final\\\": \\\"\\\",\\n      \\\"dias\\\": \\\"\\\",\\n      \\\"vr_nominal\\\": \\\"\\\",\\n      \\\"reembolso_g_desembolso\\\": \\\"\\\",\\n      \\\"base_negociacion\\\": \\\"\\\",\\n      \\\"rend_proyectados\\\": \\\"\\\",\\n      \\\"valor_pagar_deudor\\\": \\\"\\\"\\n    }\\n  ],\\n  \\\"liquidacion\\\": {\\n    \\\"valor_neto_entregar\\\": \\\"\\\"\\n  }\\n}\\n\\nTexto a procesar: \" + $json.markdown\n  }\n] \n}}"
            },
            {
              "name": "response_format",
              "value": "={{ {\"type\": \"json_object\"} }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        944,
        1760
      ],
      "id": "513be17e-7d0f-46f6-af00-b67b193a41b8",
      "name": "HTTP Request Factoring Opf",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "ZmhNATF0vGQfKowg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let allRows = [];\n\n// Función para limpiar números (Quita comas y convierte a número real)\nconst limpiarNumero = (valor) => {\n  if (typeof valor === 'number') return valor;\n  if (!valor || valor === \"-\" || valor === \"\" || valor === undefined) return 0;\n  // Quitamos las comas (separadores de miles) y convertimos a decimal\n  let limpio = valor.toString().replace(/,/g, '');\n  return parseFloat(limpio) || 0;\n};\n\nfor (const item of $input.all()) {\n  try {\n    const rawContent = item.json.choices[0].message.content;\n    const data = JSON.parse(rawContent);\n\n    const opNro = data.operacion.nro;\n    const emisor = data.operacion.emisor.nombre;\n    const deudor = data.operacion.deudor.nombre;\n    const emisorNit = data.operacion.emisor.nit;\n    const deudorNit = data.operacion.deudor.nit;\n    const factor = limpiarNumero(data.operacion.factor_descuento);\n\n    if (data.detalle_titulos && Array.isArray(data.detalle_titulos)) {\n      data.detalle_titulos.forEach(titulo => {\n        allRows.push({\n          json: {\n            Operacion: opNro,\n            Emisor: emisor,\n            Emisor_Nit: emisorNit,\n            Deudor: deudor,\n            Deudor_Nit: deudorNit,\n            Tasa_Factor: factor,\n            ID_Titulo: titulo.id_titulo,\n            Fecha_Inicial: titulo.fecha_inicial,\n            Fecha_Final: titulo.fecha_final,\n            // --- CAMPOS NUMÉRICOS LIMPIOS ---\n            Dias: limpiarNumero(titulo.dias),\n            Valor_Nominal: limpiarNumero(titulo.vr_nominal),\n            Reembolso_G_Desembolso: limpiarNumero(titulo.reembolso_g_desembolso),\n            Base_Negociacion: limpiarNumero(titulo.base_negociacion),\n            Rendimientos_Proyectados: limpiarNumero(titulo.rend_proyectados),\n            Valor_Pagar_Deudor: limpiarNumero(titulo.valor_pagar_deudor),\n            // Nombre de archivo\n            NombreArchivo: `Confirming_${opNro}.xlsx`\n          }\n        });\n      });\n    }\n  } catch (e) {\n    console.error(\"Error en Code Extract Confirming: \", e);\n  }\n}\n\nreturn allRows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        1568
      ],
      "id": "35c30b93-a9a2-4588-9a73-ecfb9cbf8657",
      "name": "Code Extract Factoring Opf"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo",
          "mode": "list",
          "cachedResultName": "Dashboard_Proseguir",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Cartera",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cliente": "={{ $json.Cliente }}",
            "Identificación": "={{ $json[\"Identificación\"] }}",
            "Actividad Económica": "={{ $json[\"ActividadEconómica\"] }}",
            "Operación": "={{ $json[\"Operación\"] }}",
            "Saldo Total": "={{ $json.SaldoTotal }}",
            "Plazo Meses": "={{ $json.PlazoMeses }}",
            "Tasa Interés": "={{ $json[\"TasaInterés\"] }}",
            "Plan Amortización": "={{ $json[\"PlanAmortización\"] }}",
            "Garantia Detalle": "={{ $json.GarantiaDetalle }}",
            "Estado Garantia": "={{ $json.EstadoGarantia }}",
            "Tipo Garantia": "={{ $json.TipoGarantia }}",
            "Fecha Desembolso": "={{ $json.FechaDesembolso }}",
            "Numero Radicado": "={{ $json.NumeroRadicado }}",
            "Estado Capital": "={{ $json.EstadoCapital }}",
            "Fecha Vencimiento Capital": "={{ $json.FechaVencimientoCapital }}",
            "Valor Desembolso": "={{ $json.ValorDesembolso }}",
            "Saldo Capital": "={{ $json.SaldoCapital }}",
            "Vencido": "={{ $json.Vencido }}",
            "Dias Vencido": "={{ $json.DiasVencido }}",
            "Valor Vencido": "={{ $json.ValorVencido }}",
            "Tiene Mora": "={{ $json.TieneMora }}",
            "Valor Mora": "={{ $json.ValorMora }}",
            "Fecha Ultimo Abono": "={{ $json.FechaUltimoAbono }}",
            "Valor Ultimo Abono": "={{ $json.ValorUltimoAbono }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Identificación",
              "displayName": "Identificación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Actividad Económica",
              "displayName": "Actividad Económica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Operación",
              "displayName": "Operación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Saldo Total",
              "displayName": "Saldo Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Plazo Meses",
              "displayName": "Plazo Meses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tasa Interés",
              "displayName": "Tasa Interés",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Plan Amortización",
              "displayName": "Plan Amortización",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Garantia Detalle",
              "displayName": "Garantia Detalle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado Garantia",
              "displayName": "Estado Garantia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo Garantia",
              "displayName": "Tipo Garantia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Desembolso",
              "displayName": "Fecha Desembolso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Numero Radicado",
              "displayName": "Numero Radicado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado Capital",
              "displayName": "Estado Capital",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Vencimiento Capital",
              "displayName": "Fecha Vencimiento Capital",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Desembolso",
              "displayName": "Valor Desembolso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Saldo Capital",
              "displayName": "Saldo Capital",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Vencido",
              "displayName": "Vencido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dias Vencido",
              "displayName": "Dias Vencido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Vencido",
              "displayName": "Valor Vencido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tiene Mora",
              "displayName": "Tiene Mora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Mora",
              "displayName": "Valor Mora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Ultimo Abono",
              "displayName": "Fecha Ultimo Abono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Ultimo Abono",
              "displayName": "Valor Ultimo Abono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        144
      ],
      "id": "ce43e3fd-d380-4eff-bedf-35eb14e0d046",
      "name": "Append row in sheet Cartera",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XHWXkg3XKftRO12m",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo",
          "mode": "list",
          "cachedResultName": "Dashboard_Proseguir",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1141479176,
          "mode": "list",
          "cachedResultName": "Factoring_Op",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit#gid=1141479176"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cliente": "={{ $json.Cliente }}",
            "Fecha Desembolso": "={{ $json.Fecha_Desembolso }}",
            "Operacion": "={{ $json.Operacion }}",
            "NIT Cliente": "={{ $json.NIT_Cliente }}",
            "Factura Número": "={{ $json.Factura_Numero }}",
            "Monto": "={{ $json.Monto }}",
            "Dias": "={{ $json.Dias }}",
            "Tasa Descuento": "={{ $json.Tasa_Descuento }}",
            "Pagador": "={{ $json.Pagador }}",
            "NIT Pagador": "={{ $json.NIT_Pagador }}",
            "Fecha Aprobación": "={{ $json.Fecha_Aprobacion }}",
            "Valor Aprobado": "={{ $json.Valor_Aprobado }}",
            "Valor Desembolsado": "={{ $json.Valor_Desembolsado }}",
            "Fecha Vencimiento": "={{ $json.Fecha_Vencimiento }}",
            "Valor Reserva": "={{ $json.Valor_Reserva }}",
            "Descuento Financiero": "={{ $json.Descuento_Financiero }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Operacion",
              "displayName": "Operacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NIT Cliente",
              "displayName": "NIT Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Factura Número",
              "displayName": "Factura Número",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Monto",
              "displayName": "Monto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dias",
              "displayName": "Dias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tasa Descuento",
              "displayName": "Tasa Descuento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pagador",
              "displayName": "Pagador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NIT Pagador",
              "displayName": "NIT Pagador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Aprobación",
              "displayName": "Fecha Aprobación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Aprobado",
              "displayName": "Valor Aprobado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Desembolsado",
              "displayName": "Valor Desembolsado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Desembolso",
              "displayName": "Fecha Desembolso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Vencimiento",
              "displayName": "Fecha Vencimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Reserva",
              "displayName": "Valor Reserva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Descuento Financiero",
              "displayName": "Descuento Financiero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        816
      ],
      "id": "61f0d00b-ba5d-4b26-9ebc-839ef9d2be5f",
      "name": "Append row in sheet Factoring Op",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XHWXkg3XKftRO12m",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo",
          "mode": "list",
          "cachedResultName": "Dashboard_Proseguir",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 275563529,
          "mode": "list",
          "cachedResultName": "Factoring_Pagos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit#gid=275563529"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cliente": "={{ $json.Cliente }}",
            "Pagador": "={{ $json.Pagador }}",
            "Descuento Financiero": "={{ $json.Descuento_Financiero }}",
            "Pago Nro": "={{ $json.Pago_Nro }}",
            "Fecha Pago": "={{ $json.Fecha_Pago }}",
            "Nit": "={{ $json.Nit }}",
            "Reliquidación": "={{ $json.Reliquidacion }}",
            "Fecha Reliquidación": "={{ $json.Fecha_Reliquidacion }}",
            "OP Relacionada": "={{ $json.OP_Relacionada }}",
            "Factura Nro": "={{ $json.Factura_Nro }}",
            "CC ó NIT": "={{ $json.CC_o_NIT }}",
            "Fecha Inicial": "={{ $json.Fecha_Inicial }}",
            "Fecha Final": "={{ $json.Fecha_Final }}",
            "Dias Cartera": "={{ $json.Dias_Cartera }}",
            "Valor Titulo": "={{ $json.Valor_Titulo }}",
            "Valor Nominal": "={{ $json.Valor_Nominal }}",
            "Monto Pagado": "={{ $json.Monto_Pagado }}",
            "Saldo Restante": "={{ $json.Saldo_Restante }}",
            "Total Recaudado Comprobante": "={{ $json.Total_Recaudado_Comprobante }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Pago Nro",
              "displayName": "Pago Nro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Pago",
              "displayName": "Fecha Pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nit",
              "displayName": "Nit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reliquidación",
              "displayName": "Reliquidación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Reliquidación",
              "displayName": "Fecha Reliquidación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OP Relacionada",
              "displayName": "OP Relacionada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Factura Nro",
              "displayName": "Factura Nro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CC ó NIT",
              "displayName": "CC ó NIT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pagador",
              "displayName": "Pagador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Inicial",
              "displayName": "Fecha Inicial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Final",
              "displayName": "Fecha Final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dias Cartera",
              "displayName": "Dias Cartera",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Titulo",
              "displayName": "Valor Titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Nominal",
              "displayName": "Valor Nominal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Descuento Financiero",
              "displayName": "Descuento Financiero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Monto Pagado",
              "displayName": "Monto Pagado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Saldo Restante",
              "displayName": "Saldo Restante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Recaudado Comprobante",
              "displayName": "Total Recaudado Comprobante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        1088
      ],
      "id": "dd64a08d-67c1-40b4-8765-992598dc15a8",
      "name": "Append row in sheet Factoring Pagos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XHWXkg3XKftRO12m",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo",
          "mode": "list",
          "cachedResultName": "Dashboard_Proseguir",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 649210181,
          "mode": "list",
          "cachedResultName": "Confirming_OPF",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit#gid=649210181"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Operacion": "={{ $json.Operacion }}",
            "Dias": "={{ $json.Dias }}",
            "Emisor": "={{ $json.Emisor }}",
            "Emisor Nit": "={{ $json.Emisor_Nit }}",
            "Deudor": "={{ $json.Deudor }}",
            "Deudor Nit": "={{ $json.Deudor_Nit }}",
            "Tasa Factor": "={{ $json.Tasa_Factor }}",
            "ID Titulo": "={{ $json.ID_Titulo }}",
            "Fecha Inicial": "={{ $json.Fecha_Inicial }}",
            "Fecha Final": "={{ $json.Fecha_Final }}",
            "Valor Nominal": "={{ $json.Valor_Nominal }}",
            "Reembolso G Desembolso": "={{ $json.Reembolso_G_Desembolso }}",
            "Base Negociación": "={{ $json.Base_Negociacion }}",
            "Rendimientos Proyectados": "={{ $json.Rendimientos_Proyectados }}",
            "Valor Pagar Deudor": "={{ $json.Valor_Pagar_Deudor }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Operacion",
              "displayName": "Operacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Emisor",
              "displayName": "Emisor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Emisor Nit",
              "displayName": "Emisor Nit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Deudor",
              "displayName": "Deudor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Deudor Nit",
              "displayName": "Deudor Nit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tasa Factor",
              "displayName": "Tasa Factor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID Titulo",
              "displayName": "ID Titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Inicial",
              "displayName": "Fecha Inicial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Final",
              "displayName": "Fecha Final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dias",
              "displayName": "Dias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Nominal",
              "displayName": "Valor Nominal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reembolso G Desembolso",
              "displayName": "Reembolso G Desembolso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Base Negociación",
              "displayName": "Base Negociación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rendimientos Proyectados",
              "displayName": "Rendimientos Proyectados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Pagar Deudor",
              "displayName": "Valor Pagar Deudor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        1776
      ],
      "id": "6db42636-31ae-4aed-8265-58b4e78114d0",
      "name": "Append row in sheet Factoring Opf",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XHWXkg3XKftRO12m",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Google Drive Trigger Cartera\"].json[\"id\"] }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "sheetsToFormat": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -32,
        144
      ],
      "id": "0b053054-31b2-4819-ab02-820cc381fc12",
      "name": "Download file Cartera",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e6fBM4JbEYyxiJjY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1YIsGDDYxwfamLuNXN0A4puF5QNRWScKr",
          "mode": "list",
          "cachedResultName": "cartera",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1YIsGDDYxwfamLuNXN0A4puF5QNRWScKr"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        320
      ],
      "id": "83a69abb-e98d-4b36-9346-cc26d014783f",
      "name": "Google Drive Trigger Cartera",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e6fBM4JbEYyxiJjY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Google Drive Trigger Cartera\"].json[\"id\"] }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "1Si42ovLXmYGHIw73u1c5Nlw9d5txgWUi",
          "mode": "list",
          "cachedResultName": "cartera",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Si42ovLXmYGHIw73u1c5Nlw9d5txgWUi"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        336
      ],
      "id": "8208de01-0e6e-4dd1-8996-d84041304cc5",
      "name": "Move file Cartera",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e6fBM4JbEYyxiJjY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1fz97-5plYUnSSv19JeLPnB_m9bEbLwBh",
          "mode": "list",
          "cachedResultName": "factoring-op",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1fz97-5plYUnSSv19JeLPnB_m9bEbLwBh"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        784
      ],
      "id": "b6a4dbc1-911f-48dc-b466-a338758928b8",
      "name": "Google Drive Trigger Factoring-op",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e6fBM4JbEYyxiJjY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Google Drive Trigger Factoring-op\"].json[\"id\"] }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "sheetsToFormat": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        624
      ],
      "id": "050c714f-d43b-469a-a1d0-336b3cf7fe4f",
      "name": "Download file Factoring-op",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e6fBM4JbEYyxiJjY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Google Drive Trigger Factoring-op\"].json[\"id\"] }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "1fUkTE1jMf2KhqYYLyDlt0VtRk6QHfdYj",
          "mode": "list",
          "cachedResultName": "factoring-op",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1fUkTE1jMf2KhqYYLyDlt0VtRk6QHfdYj"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        176,
        800
      ],
      "id": "b6e4f2f5-0ff2-40a9-8a70-59d351f3a138",
      "name": "Move file Factoring-op",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e6fBM4JbEYyxiJjY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1LiLxvih4SqxdW8M9kn8reM1FT3EZnGqk",
          "mode": "list",
          "cachedResultName": "factoring-pagos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1LiLxvih4SqxdW8M9kn8reM1FT3EZnGqk"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        1264
      ],
      "id": "7787b56b-13dc-4b78-aa0f-064528aa6ea0",
      "name": "Google Drive Trigger Factoring-pagos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e6fBM4JbEYyxiJjY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Google Drive Trigger Factoring-pagos\"].json[\"id\"] }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "sheetsToFormat": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        1088
      ],
      "id": "5b5a854c-265b-4f20-a350-0c7c050e225b",
      "name": "Download file Factoring-pagos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e6fBM4JbEYyxiJjY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Google Drive Trigger Factoring-pagos\"].json[\"id\"] }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "1VS3Hh5jrk0XAjDdaw1rtFsxdQSc1VUZd",
          "mode": "list",
          "cachedResultName": "factoring-pagos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1VS3Hh5jrk0XAjDdaw1rtFsxdQSc1VUZd"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        1264
      ],
      "id": "92637d82-8317-48d8-87bf-539915da7fc3",
      "name": "Move file Factoring-pagos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e6fBM4JbEYyxiJjY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ISWnWarRZnEUJnkZexBIpvJVZ3VUTwlm",
          "mode": "list",
          "cachedResultName": "factoring-opf",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ISWnWarRZnEUJnkZexBIpvJVZ3VUTwlm"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        1760
      ],
      "id": "bde36bc5-90da-4bcc-aa30-384f48e41125",
      "name": "Google Drive Trigger Factoring-opf",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e6fBM4JbEYyxiJjY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Google Drive Trigger Factoring-opf\"].json[\"id\"] }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "sheetsToFormat": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        1568
      ],
      "id": "f2f3ebcd-09b1-478e-967c-e073769c0d3c",
      "name": "Download file Factoring-opf",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e6fBM4JbEYyxiJjY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Google Drive Trigger Factoring-opf\"].json[\"id\"] }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "1bl66IeO4HP7B000U4-XynzBAsDeN8F2i",
          "mode": "list",
          "cachedResultName": "factoring-opf",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1bl66IeO4HP7B000U4-XynzBAsDeN8F2i"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        1760
      ],
      "id": "a8d37826-4ca7-4ce9-94a8-061add92085f",
      "name": "Move file Factoring-opf",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e6fBM4JbEYyxiJjY",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Extract text from cartera": {
      "main": [
        [
          {
            "node": "Captura_Fecha_Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura_Fecha_Cartera": {
      "main": [
        [
          {
            "node": "Split Out Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Cartera": {
      "main": [
        [
          {
            "node": "HTTP Request Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Cartera": {
      "main": [
        [
          {
            "node": "Code Extract Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Extract Cartera": {
      "main": [
        [
          {
            "node": "Code Order Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Order Cartera": {
      "main": [
        [
          {
            "node": "Append row in sheet Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text Factoring Op": {
      "main": [
        [
          {
            "node": "Captura_Fecha_Factoring_Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Factoring Op": {
      "main": [
        [
          {
            "node": "HTTP Request Factoring Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Extract Factoring Op": {
      "main": [
        [
          {
            "node": "Append row in sheet Factoring Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Factoring Op": {
      "main": [
        [
          {
            "node": "Code Extract Factoring Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura_Fecha_Factoring_Op": {
      "main": [
        [
          {
            "node": "Split Out Factoring Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text Factoring Pagos": {
      "main": [
        [
          {
            "node": "Split Out Factoring Pagos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Factoring Pagos": {
      "main": [
        [
          {
            "node": "HTTP Request Factoring Pagos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Factoring Pagos": {
      "main": [
        [
          {
            "node": "Code Extract Factoring Pagos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Extract Factoring Pagos": {
      "main": [
        [
          {
            "node": "Append row in sheet Factoring Pagos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text Factoring Opf": {
      "main": [
        [
          {
            "node": "Captura_Fecha_Factoring_Opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura_Fecha_Factoring_Opf": {
      "main": [
        [
          {
            "node": "Split Out Factoring Opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Factoring Opf": {
      "main": [
        [
          {
            "node": "HTTP Request Factoring Opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Factoring Opf": {
      "main": [
        [
          {
            "node": "Code Extract Factoring Opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Extract Factoring Opf": {
      "main": [
        [
          {
            "node": "Append row in sheet Factoring Opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file Cartera": {
      "main": [
        [
          {
            "node": "Move file Cartera",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract text from cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger Cartera": {
      "main": [
        [
          {
            "node": "Download file Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet Cartera": {
      "main": [
        []
      ]
    },
    "Move file Cartera": {
      "main": [
        []
      ]
    },
    "Google Drive Trigger Factoring-op": {
      "main": [
        [
          {
            "node": "Download file Factoring-op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file Factoring-op": {
      "main": [
        [
          {
            "node": "Move file Factoring-op",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract text Factoring Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file Factoring-op": {
      "main": [
        []
      ]
    },
    "Google Drive Trigger Factoring-pagos": {
      "main": [
        [
          {
            "node": "Download file Factoring-pagos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file Factoring-pagos": {
      "main": [
        [
          {
            "node": "Move file Factoring-pagos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract text Factoring Pagos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger Factoring-opf": {
      "main": [
        [
          {
            "node": "Download file Factoring-opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file Factoring-opf": {
      "main": [
        [
          {
            "node": "Move file Factoring-opf",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract text Factoring Opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "119ec984-bea6-4185-99a9-4ba8e48d14d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "12bf7a84e842b6d2299eb062c6a2b8d1e20a90ea68d980ab31c619edc9f028e8"
  },
  "id": "KMKScFUbDCjop3loaRQUN",
  "tags": [
    {
      "updatedAt": "2026-01-19T15:46:44.896Z",
      "createdAt": "2026-01-19T15:46:44.896Z",
      "id": "xSz4dsKTdZmU0oVd",
      "name": "1.0"
    }
  ]
}