Prosegur/FactoringAngularApi.json
{
  "name": "FactoringApiLocal",
  "nodes": [
    {
      "parameters": {
        "options": {
          "batch": false
        }
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        2064,
        240
      ],
      "id": "92d104a5-da7a-4d48-9d06-0cff32b37998",
      "name": "Extract text from cartera",
      "credentials": {
        "mistralCloudApi": {
          "id": "dPmVTTuY3pvPZaYj",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1084fef7-1ec2-42ba-aab1-0928ec843753",
              "name": "fecha_reporte",
              "value": "={{ $json.pages[0].markdown.match(/Fecha Consulta:\\s*(\\d{2}\\/\\d{2}\\/\\d{4})/)[1] }}",
              "type": "string"
            },
            {
              "id": "9020b0b2-47cd-4eb3-89f2-39825362d4e3",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        240
      ],
      "id": "4a99cfc6-c004-4a45-8d0e-a210f1793d38",
      "name": "Captura_Fecha_Cartera"
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2464,
        240
      ],
      "id": "eaa94e50-0bef-49e5-b2ff-db2a282904e9",
      "name": "Split Out Cartera"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral-small-latest"
            },
            {
              "name": "messages",
              "value": "={{ \n[\n  {\n    \"role\": \"user\",\n    \"content\": \"Extrae la información completa del siguiente texto y devuélvela estrictamente en formato JSON. Incluye todos los campos disponibles sin omitir ninguno. Si un campo no tiene valor, usa null. Esquema requerido: { \\\"cliente\\\": { \\\"nombre\\\": \\\"\\\", \\\"id\\\": \\\"\\\", \\\"ciudad\\\": \\\"\\\", \\\"actividad_economica\\\": \\\"\\\" }, \\\"operacion\\\": { \\\"id\\\": \\\"\\\", \\\"saldo_total\\\": \\\"\\\", \\\"plazo_meses\\\": \\\"\\\", \\\"tasa_interes_nm\\\": \\\"\\\", \\\"plan_amortizacion\\\": \\\"\\\" }, \\\"garantia\\\": { \\\"estado\\\": \\\"\\\", \\\"tipo\\\": \\\"\\\", \\\"valor_avaluo\\\": \\\"\\\", \\\"detalle\\\": \\\"\\\" }, \\\"detalle_financiero\\\": { \\\"fecha_desembolso\\\": \\\"\\\", \\\"nro_radicado\\\": \\\"\\\", \\\"estado_capital\\\": \\\"\\\", \\\"fecha_vencimiento_capital\\\": \\\"\\\", \\\"valor_desembolso\\\": \\\"\\\", \\\"saldo_capital\\\": \\\"\\\", \\\"vencido\\\": \\\"\\\", \\\"dias_vencido\\\": \\\"\\\", \\\"valor_vencido\\\": \\\"\\\", \\\"tiene_mora\\\": \\\"\\\", \\\"valor_mora\\\": \\\"\\\", \\\"fecha_ultimo_abono\\\": \\\"\\\", \\\"valor_ultimo_abono\\\": \\\"\\\" } } Texto a procesar: \" + $json.markdown\n  }\n] \n}}"
            },
            {
              "name": "response_format",
              "value": "={{ {\"type\": \"json_object\"} }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2880,
        240
      ],
      "id": "7c0290ff-2d99-49cd-8f57-a5dff7f27fea",
      "name": "HTTP Request Cartera",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "ZmhNATF0vGQfKowg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let allRows = [];\n\n// 1. Función para limpiar números (Quita comas y convierte a número real)\nconst limpiarNumero = (valor) => {\n  if (typeof valor === 'number') return valor;\n  if (!valor || valor === \"-\") return 0;\n  // Quitamos las comas (separadores de miles)\n  // Mantenemos el punto si es decimal\n  let limpio = valor.toString().replace(/,/g, '');\n  return parseFloat(limpio) || 0;\n};\n\nlet fechaConsultaGlobal = \"\";\ntry {\n  fechaConsultaGlobal = $(\"Captura_Fecha_Cartera\").first().json.fecha_reporte;\n} catch (e) {\n  fechaConsultaGlobal = \"00/00/0000\";\n}\n\nfor (const item of $input.all()) {\n  try {\n    const rawContent = item.json.choices[0].message.content;\n    const data = JSON.parse(rawContent);\n    \n    let detalleUnificado = \"\";\n    if (data.garantia) {\n      const listaGarantias = Array.isArray(data.garantia) ? data.garantia : [data.garantia];\n      detalleUnificado = listaGarantias.map((g, i) => \n        `Garantía ${i + 1}: ${g.tipo || ''} - ${g.detalle || ''}`\n      ).join(' | ');\n    }\n\n    const detalles = Array.isArray(data.detalle_financiero) \n      ? data.detalle_financiero \n      : [data.detalle_financiero];\n\n    detalles.forEach(desembolso => {\n      const partes = fechaConsultaGlobal.split('/');\n      const mes = partes[1] || \"00\";\n      const anio = partes[2] || \"0000\";\n\n      allRows.push({\n        json: {\n          Cliente: data.cliente.nombre,\n          Identificación: data.cliente.id,\n          Ciudad: data.cliente.ciudad,\n          ActividadEconómica: data.cliente.actividad_economica,\n          Operación: data.operacion.id,\n          // --- APLICAMOS LIMPIEZA A CAMPOS NUMÉRICOS ---\n          SaldoTotal: limpiarNumero(data.operacion.saldo_total),\n          PlazoMeses: limpiarNumero(data.operacion.plazo_meses),\n          TasaInterés: limpiarNumero(data.operacion.tasa_interes_nm),\n          PlanAmortización: data.operacion.plan_amortizacion,\n          GarantiaDetalle: detalleUnificado, \n          EstadoGarantia: Array.isArray(data.garantia) ? data.garantia[0].estado : (data.garantia?.estado || null),\n          TipoGarantia: Array.isArray(data.garantia) ? data.garantia[0].tipo : (data.garantia?.tipo || null),\n          FechaDesembolso: desembolso.fecha_desembolso,\n          NumeroRadicado: desembolso.nro_radicado,\n          EstadoCapital: desembolso.estado_capital,\n          FechaVencimientoCapital: desembolso.fecha_vencimiento_capital,\n          ValorDesembolso: limpiarNumero(desembolso.valor_desembolso),\n          SaldoCapital: limpiarNumero(desembolso.saldo_capital),\n          Vencido: desembolso.vencido,\n          DiasVencido: limpiarNumero(desembolso.dias_vencido),\n          ValorVencido: limpiarNumero(desembolso.valor_vencido),\n          TieneMora: desembolso.tiene_mora,\n          ValorMora: limpiarNumero(desembolso.valor_mora),\n          FechaUltimoAbono: desembolso.fecha_ultimo_abono,\n          ValorUltimoAbono: limpiarNumero(desembolso.valor_ultimo_abono),\n          NombreArchivo: `Cartera_${mes}_${anio}.xlsx`\n        }\n      });\n    });\n  } catch (e) {\n    console.error(\"Error procesando un ítem: \", e);\n  }\n}\n\nreturn allRows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        240
      ],
      "id": "5191aed9-0413-47ec-8cae-962ea22a45aa",
      "name": "Code Extract Cartera"
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos todos los items que llegan al nodo\nconst items = $input.all();\n\n// 1. Ordenamos por nombre de Cliente para que el Excel sea profesional y organizado\nitems.sort((a, b) => {\n  const clienteA = (a.json[\"Cliente\"] || \"\").toLowerCase();\n  const clienteB = (b.json[\"Cliente\"] || \"\").toLowerCase();\n  if (clienteA < clienteB) return -1;\n  if (clienteA > clienteB) return 1;\n  return 0;\n});\n\n// 2. Mantenemos el nombre del archivo que ya viene procesado correctamente\n// No necesitamos volver a separar la fecha por '/' porque el nodo anterior ya hizo\n// el trabajo de extraer la Fecha de Consulta global.\nfor (let item of items) {\n  // Si por alguna razón el nombre llega vacío, ponemos uno por defecto, \n  // pero ya no usamos la FechaDesembolso para no separar el reporte en años viejos.\n  if (!item.json.NombreArchivo) {\n    item.json.NombreArchivo = \"Cartera_Reporte_General.xlsx\";\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        240
      ],
      "id": "bfeb31e4-d110-43cb-bcc0-12432b2e3170",
      "name": "Code Order Cartera"
    },
    {
      "parameters": {
        "options": {
          "batch": false
        }
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        2080,
        640
      ],
      "id": "f4dd4a0d-7fbf-4bee-a185-da555cc44b43",
      "name": "Extract text Factoring Op",
      "credentials": {
        "mistralCloudApi": {
          "id": "dPmVTTuY3pvPZaYj",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2528,
        640
      ],
      "id": "c8540ec0-c328-4809-8bac-294f97c420fb",
      "name": "Split Out Factoring Op"
    },
    {
      "parameters": {
        "jsCode": "let allRows = [];\n\n// Función para limpiar números (Quita comas y convierte a número real)\nconst limpiarNumero = (valor) => {\n  if (typeof valor === 'number') return valor;\n  if (!valor || valor === \"-\" || valor === \"\") return 0;\n  // Quitamos las comas (separadores de miles) y convertimos a decimal\n  let limpio = valor.toString().replace(/,/g, '');\n  return parseFloat(limpio) || 0;\n};\n\nfor (const item of $input.all()) {\n  try {\n    // 1. Extraer el contenido del mensaje de Mistral\n    const rawContent = item.json.choices[0].message.content;\n    const data = JSON.parse(rawContent);\n\n    // 2. Extraer datos generales de la operación\n    const operacionNro = data.operacion.nro;\n    const tasaDescuento = limpiarNumero(data.operacion.tasa_descuento);\n    const fechaOperacion = $(\"Captura_Fecha_Factoring_Op\").first().json.fecha_reporte;\n    const cliente = data.operacion.cliente.nombre;\n    const clienteNit = data.operacion.cliente.nit;\n    const pagador = data.operacion.pagador.nombre;\n    const pagadorNit = data.operacion.pagador.nit;\n    const netoEntregar = limpiarNumero(data.liquidacion.valor_neto_entregar);\n\n    // 3. Recorrer cada factura en el detalle\n    if (data.detalle_facturas && Array.isArray(data.detalle_facturas)) {\n      data.detalle_facturas.forEach(fac => {\n        allRows.push({\n          json: {\n            Operacion: operacionNro,\n            Cliente: cliente,\n            NIT_Cliente: clienteNit,\n            Factura_Numero: fac.doc_nro,\n            // --- APLICAMOS LIMPIEZA A CAMPOS NUMÉRICOS ---\n            Monto: limpiarNumero(fac.valor_neto),\n            Dias: limpiarNumero(fac.dias),\n            Tasa_Descuento: tasaDescuento,\n            Pagador: pagador,\n            NIT_Pagador: pagadorNit,\n            Fecha_Aprobacion: fechaOperacion,\n            Valor_Aprobado: limpiarNumero(fac.valor_presente),\n            Valor_Desembolsado: netoEntregar, // Este es el neto de la liquidación general\n            Fecha_Desembolso: fac.fecha_inicial,\n            Fecha_Vencimiento: fac.fecha_vencimiento,\n            Valor_Reserva: limpiarNumero(fac.valor_reserva),\n            Descuento_Financiero: limpiarNumero(fac.descuento_financiero),\n            // Nombre de archivo sugerido\n            NombreArchivo: `Factoring_OP_${operacionNro}.xlsx`\n          }\n        });\n      });\n    }\n  } catch (e) {\n    console.error(\"Error en Code Extract Factoring: \", e);\n  }\n}\n\nreturn allRows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3232,
        640
      ],
      "id": "fbc19343-0c39-4966-8443-03a380f079ae",
      "name": "Code Extract Factoring Op"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral-small-latest"
            },
            {
              "name": "messages",
              "value": "={{ \n[\n  {\n    \"role\": \"user\",\n    \"content\": \"Analiza esta Solicitud de Operación. El OCR tiene un error de segmentación: la tabla de facturas se corta en 'Vr. Reserva' y los valores de 'Descuento Financiero' aparecen como líneas de texto sueltas justo después.\\n\\nINSTRUCCIONES DE EXTRACCIÓN DINÁMICA:\\n1. IDENTIFICACIÓN DE FILAS: Extrae cada factura manteniendo los 11 campos. \\n2. RECONSTRUCCIÓN DE COLUMNA: Para el campo 'descuento_financiero', busca los valores numéricos que el OCR extrajo como saltos de línea (`\\n`) o texto independiente fuera de los separadores '|'. \\n3. ASIGNACIÓN: El primer valor suelto corresponde a la primera factura, el segundo a la segunda, y así sucesivamente. No asumas que el valor está en la liquidación; búscalo en el cuerpo del texto.\\n\\nJSON REQUERIDO:\\n{\\n  \\\"operacion\\\": {\\n    \\\"nro\\\": \\\"\\\",\\n    \\\"fecha_operacion\\\": \\\"\\\",\\n    \\\"tasa_descuento\\\": \\\"\\\",\\n    \\\"cliente\\\": { \\\"nombre\\\": \\\"\\\", \\\"nit\\\": \\\"\\\" },\\n    \\\"pagador\\\": { \\\"nombre\\\": \\\"\\\", \\\"nit\\\": \\\"\\\" }\\n  },\\n  \\\"detalle_facturas\\\": [\\n    {\\n      \\\"doc_nro\\\": \\\"\\\",\\n      \\\"dias\\\": \\\"\\\",\\n      \\\"fecha_inicial\\\": \\\"\\\",\\n      \\\"fecha_vencimiento\\\": \\\"\\\",\\n      \\\"valor_neto\\\": \\\"\\\",\\n      \\\"valor_presente\\\": \\\"\\\",\\n      \\\"valor_reserva\\\": \\\"\\\",\\n      \\\"descuento_financiero\\\": \\\"\\\"\\n    }\\n  ],\\n  \\\"liquidacion\\\": { \\\"valor_neto_entregar\\\": \\\"\\\" }\\n}\\n\\nTexto a procesar: \" + $json.markdown\n  }\n] \n}}"
            },
            {
              "name": "response_format",
              "value": "={{ {\"type\": \"json_object\"} }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2992,
        640
      ],
      "id": "22d5619d-398c-4499-94f5-655e4d2959cb",
      "name": "HTTP Request Factoring Op",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "ZmhNATF0vGQfKowg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1084fef7-1ec2-42ba-aab1-0928ec843753",
              "name": "fecha_reporte",
              "value": "={{ $json.pages[0].markdown.match(/\\|\\s*(\\d{2}\\/\\d{2}\\/\\d{4})/)[1] }}",
              "type": "string"
            },
            {
              "id": "9020b0b2-47cd-4eb3-89f2-39825362d4e3",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        640
      ],
      "id": "3a03a6de-823f-4e26-81b0-41bc8bf4f55e",
      "name": "Captura_Fecha_Factoring_Op"
    },
    {
      "parameters": {
        "options": {
          "batch": false
        }
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        2096,
        1072
      ],
      "id": "4bab9a14-9634-487c-82bc-2ed4f458e862",
      "name": "Extract text Factoring Pagos",
      "credentials": {
        "mistralCloudApi": {
          "id": "dPmVTTuY3pvPZaYj",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2384,
        1072
      ],
      "id": "d826fbcb-2658-4873-b155-ab707745bbda",
      "name": "Split Out Factoring Pagos"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral-small-latest"
            },
            {
              "name": "messages",
              "value": "={{ \n[\n  {\n    \"role\": \"user\",\n    \"content\": \"Analiza este documento de 'PAGOS CLIENTES'. Extrae la información detallada de la liquidación y el recaudo.\\n\\nINSTRUCCIONES DE EXTRACCIÓN:\\n1. GENERAL: Extrae el número de pago (PAGO N°.), el cliente, su NIT y la fecha de pago.\\n2. TABLA DE LIQUIDACIÓN: Extrae cada fila de la tabla 'Liquidación a fecha pago'. Debes incluir:\\n   - op_nro, doc_nro, pagador, dias, vr_total_titulo, vr_nominal, descuento_financiero, vr_pagado y saldo.\\n3. DETALLE RECAUDO: Extrae el 'Valor Recaudado' y el 'Total Devolución'.\\n\\nJSON REQUERIDO:\\n{\\n  \\\"pago\\\": {\\n    \\\"nro\\\": \\\"\\\",\\n    \\\"fecha\\\": \\\"\\\",\\n    \\\"cliente\\\": { \\\"nombre\\\": \\\"\\\", \\\"nit\\\": \\\"\\\", \\\"reliquidacion\\\": \\\"\\\", \\\"fecha_reliquidacion\\\": \\\"\\\" }\\n  },\\n  \\\"detalle_facturas\\\": [\\n    {\\n      \\\"op_nro\\\": \\\"\\\",\\n      \\\"doc_nro\\\": \\\"\\\",\\n      \\\"pagador\\\": \\\"\\\",\\n      \\\"cc_o_nit\\\": \\\"\\\",\\n      \\\"fecha_inicial\\\": \\\"\\\",\\n      \\\"fecha_final\\\": \\\"\\\",\\n      \\\"dias\\\": \\\"\\\",\\n      \\\"vr_total_titulo\\\": \\\"\\\",\\n      \\\"vr_nominal\\\": \\\"\\\",\\n      \\\"descuento_financiero\\\": \\\"\\\",\\n      \\\"vr_pagado\\\": \\\"\\\",\\n      \\\"saldo\\\": \\\"\\\"\\n    }\\n  ],\\n  \\\"recaudo\\\": {\\n    \\\"valor_recaudado\\\": \\\"\\\",\\n    \\\"total_devolucion\\\": \\\"\\\"\\n  }\\n}\\n\\nTexto a procesar: \" + $json.markdown\n  }\n] \n}}"
            },
            {
              "name": "response_format",
              "value": "={{ {\"type\": \"json_object\"} }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2896,
        1072
      ],
      "id": "9e9861bb-ceff-43ef-9443-a1326e55e012",
      "name": "HTTP Request Factoring Pagos",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "ZmhNATF0vGQfKowg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let allRows = [];\n\n// Función para limpiar números (Quita comas y convierte a número real)\nconst limpiarNumero = (valor) => {\n  if (typeof valor === 'number') return valor;\n  if (!valor || valor === \"-\" || valor === \"\" || valor === undefined) return 0;\n  // Quitamos las comas (separadores de miles) y convertimos a decimal\n  let limpio = valor.toString().replace(/,/g, '');\n  return parseFloat(limpio) || 0;\n};\n\nfor (const item of $input.all()) {\n  try {\n    const rawContent = item.json.choices[0].message.content;\n    const data = JSON.parse(rawContent);\n\n    const pagoNro = data.pago.nro;\n    const fechaPago = data.pago.fecha;\n    const cliente = data.pago.cliente.nombre;\n    const nit = data.pago.cliente.nit;\n    const reliquidacion = data.pago.cliente.reliquidacion;\n    const fechaReliquidacion = data.pago.cliente.fecha_reliquidacion;\n    \n    // Limpiamos el valor recaudado general del comprobante\n    const valorRecaudado = limpiarNumero(data.recaudo.valor_recaudado);\n\n    if (data.detalle_facturas && Array.isArray(data.detalle_facturas)) {\n      data.detalle_facturas.forEach(fac => {\n        allRows.push({\n          json: {\n            Pago_Nro: pagoNro,\n            Fecha_Pago: fechaPago,\n            Cliente: cliente,\n            Nit: nit,\n            Reliquidacion: reliquidacion,\n            Fecha_Reliquidacion: fechaReliquidacion,\n            OP_Relacionada: fac.op_nro,\n            Factura_Nro: fac.doc_nro,\n            CC_o_NIT: fac.cc_o_nit,\n            Pagador: fac.pagador,\n            Fecha_Inicial: fac.fecha_inicial,\n            Fecha_Final: fac.fecha_final,\n            // --- CAMPOS NUMÉRICOS LIMPIOS ---\n            Dias_Cartera: limpiarNumero(fac.dias),\n            Valor_Titulo: limpiarNumero(fac.vr_total_titulo),\n            Valor_Nominal: limpiarNumero(fac.vr_nominal),\n            Descuento_Financiero: limpiarNumero(fac.descuento_financiero),\n            Monto_Pagado: limpiarNumero(fac.vr_pagado),\n            Saldo_Restante: limpiarNumero(fac.saldo),\n            Total_Recaudado_Comprobante: valorRecaudado,\n            // Nombre de archivo\n            NombreArchivo: `Pagos_Factoring_${pagoNro}.xlsx`\n          }\n        });\n      });\n    }\n  } catch (e) {\n    console.error(\"Error en Code Extract Pagos: \", e);\n  }\n}\n\nreturn allRows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3184,
        1072
      ],
      "id": "65940057-2edd-4971-b8cb-a259ebddf858",
      "name": "Code Extract Factoring Pagos"
    },
    {
      "parameters": {
        "options": {
          "batch": false
        }
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        2096,
        1504
      ],
      "id": "e2c6e5af-b7c3-4c02-bf9c-67ea969caa6b",
      "name": "Extract text Factoring Opf",
      "credentials": {
        "mistralCloudApi": {
          "id": "dPmVTTuY3pvPZaYj",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1084fef7-1ec2-42ba-aab1-0928ec843753",
              "name": "fecha_reporte",
              "value": "={{ $json.pages[0].markdown.match(/\\|\\s*(\\d{2}\\/\\d{2}\\/\\d{4})/)[1] }}",
              "type": "string"
            },
            {
              "id": "9020b0b2-47cd-4eb3-89f2-39825362d4e3",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        1504
      ],
      "id": "f6023b24-d024-43e0-a7f3-28366220402b",
      "name": "Captura_Fecha_Factoring_Opf"
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2544,
        1504
      ],
      "id": "074a45df-b523-4a74-8bd1-3c9e21c85d27",
      "name": "Split Out Factoring Opf"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral-small-latest"
            },
            {
              "name": "messages",
              "value": "={{ \n[\n  {\n    \"role\": \"user\",\n    \"content\": \"Analiza este documento de 'CONFIRMING-PAGO PROVEEDORES'. Extrae la información técnica y los títulos.\\n\\nINSTRUCCIONES CRÍTICAS DE FILTRADO:\\n1. TABLA DE TÍTULOS: Extrae solo los registros individuales de títulos. \\n2. EXCLUSIÓN: Ignora y NO extraigas las filas que digan 'Total:', 'Subtotal' o que contengan sumatorias de las columnas. Solo queremos los datos de cada factura/título por separado.\\n3. VALIDACIÓN: Cada objeto en 'detalle_titulos' debe tener un 'id_titulo' numérico real.\\n\\nINSTRUCCIONES DE EXTRACCIÓN:\\n1. ENCABEZADO: Extrae el número de operación (OPERACION N°.), Emisor, Deudor y NITs.\\n2. TASA: 'FACTOR DE DESCUENTO' (ej: 1.80% n.m.v.).\\n3. CAMPOS POR TÍTULO: id_titulo, fecha_inicial, fecha_final, dias, vr_nominal, reembolso_g_desembolso, base_negociacion, rend_proyectados y valor_pagar_deudor.\\n\\nJSON REQUERIDO:\\n{\\n  \\\"operacion\\\": {\\n    \\\"nro\\\": \\\"\\\",\\n    \\\"fecha\\\": \\\"\\\",\\n    \\\"factor_descuento\\\": \\\"\\\",\\n    \\\"emisor\\\": { \\\"nombre\\\": \\\"\\\", \\\"nit\\\": \\\"\\\" },\\n    \\\"deudor\\\": { \\\"nombre\\\": \\\"\\\", \\\"nit\\\": \\\"\\\" }\\n  },\\n  \\\"detalle_titulos\\\": [\\n    {\\n      \\\"id_titulo\\\": \\\"\\\",\\n      \\\"fecha_inicial\\\": \\\"\\\",\\n      \\\"fecha_final\\\": \\\"\\\",\\n      \\\"dias\\\": \\\"\\\",\\n      \\\"vr_nominal\\\": \\\"\\\",\\n      \\\"reembolso_g_desembolso\\\": \\\"\\\",\\n      \\\"base_negociacion\\\": \\\"\\\",\\n      \\\"rend_proyectados\\\": \\\"\\\",\\n      \\\"valor_pagar_deudor\\\": \\\"\\\"\\n    }\\n  ],\\n  \\\"liquidacion\\\": {\\n    \\\"valor_neto_entregar\\\": \\\"\\\"\\n  }\\n}\\n\\nTexto a procesar: \" + $json.markdown\n  }\n] \n}}"
            },
            {
              "name": "response_format",
              "value": "={{ {\"type\": \"json_object\"} }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3008,
        1504
      ],
      "id": "67d72773-1461-4a60-bff9-20b248eb2757",
      "name": "HTTP Request Factoring Opf",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "ZmhNATF0vGQfKowg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let allRows = [];\n\n// Función para limpiar números (Quita comas y convierte a número real)\nconst limpiarNumero = (valor) => {\n  if (typeof valor === 'number') return valor;\n  if (!valor || valor === \"-\" || valor === \"\" || valor === undefined) return 0;\n  // Quitamos las comas (separadores de miles) y convertimos a decimal\n  let limpio = valor.toString().replace(/,/g, '');\n  return parseFloat(limpio) || 0;\n};\n\nfor (const item of $input.all()) {\n  try {\n    const rawContent = item.json.choices[0].message.content;\n    const data = JSON.parse(rawContent);\n\n    const opNro = data.operacion.nro;\n    const emisor = data.operacion.emisor.nombre;\n    const deudor = data.operacion.deudor.nombre;\n    const emisorNit = data.operacion.emisor.nit;\n    const deudorNit = data.operacion.deudor.nit;\n    const factor = limpiarNumero(data.operacion.factor_descuento);\n\n    if (data.detalle_titulos && Array.isArray(data.detalle_titulos)) {\n      data.detalle_titulos.forEach(titulo => {\n        allRows.push({\n          json: {\n            Operacion: opNro,\n            Emisor: emisor,\n            Emisor_Nit: emisorNit,\n            Deudor: deudor,\n            Deudor_Nit: deudorNit,\n            Tasa_Factor: factor,\n            ID_Titulo: titulo.id_titulo,\n            Fecha_Inicial: titulo.fecha_inicial,\n            Fecha_Final: titulo.fecha_final,\n            // --- CAMPOS NUMÉRICOS LIMPIOS ---\n            Dias: limpiarNumero(titulo.dias),\n            Valor_Nominal: limpiarNumero(titulo.vr_nominal),\n            Reembolso_G_Desembolso: limpiarNumero(titulo.reembolso_g_desembolso),\n            Base_Negociacion: limpiarNumero(titulo.base_negociacion),\n            Rendimientos_Proyectados: limpiarNumero(titulo.rend_proyectados),\n            Valor_Pagar_Deudor: limpiarNumero(titulo.valor_pagar_deudor),\n            // Nombre de archivo\n            NombreArchivo: `Confirming_${opNro}.xlsx`\n          }\n        });\n      });\n    }\n  } catch (e) {\n    console.error(\"Error en Code Extract Confirming: \", e);\n  }\n}\n\nreturn allRows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        1504
      ],
      "id": "fae89f0a-1437-4cea-8e59-289e8aa96105",
      "name": "Code Extract Factoring Opf"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "factoring-upload",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1568,
        880
      ],
      "id": "258f2fbd-2af6-4250-b113-1f4ba4b2cd0e",
      "name": "Webhook",
      "webhookId": "81490588-8735-4342-bb87-e74df507cc15"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.categoria }}",
                    "rightValue": "cartera",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bf8af8c8-d491-4740-b432-7e46349176d0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "0"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3762618b-8fbf-4b3c-9687-e044f9f37bba",
                    "leftValue": "={{ $json.body.categoria }}",
                    "rightValue": "op",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2d557822-ffab-45c7-a392-1482b1578c4d",
                    "leftValue": "={{ $json.body.categoria }}",
                    "rightValue": "pagos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fc0f5b02-2ad2-4769-8438-a3b0126351a1",
                    "leftValue": "={{ $json.body.categoria }}",
                    "rightValue": "opf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1776,
        848
      ],
      "id": "0cffb684-4d73-4fdc-907c-43580b48ac6f",
      "name": "Switch"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2672,
        240
      ],
      "id": "bb42cd6e-32fc-40ec-b4bb-bb43f68b9015",
      "name": "Loop Over Items Cartera"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2768,
        640
      ],
      "id": "2236fad3-e600-4012-8b90-e2591ec8ff5a",
      "name": "Loop Over Items Op"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2624,
        1072
      ],
      "id": "08ca3067-2908-49ba-a709-2c161b7b6795",
      "name": "Loop Over Items Pagos"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2768,
        1504
      ],
      "id": "afa77e07-d438-4c9d-a1e2-15f38c11a1d2",
      "name": "Loop Over Items Opf"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Archivo procesado y guardado en la Base de Datos exitosamente.\"\n}",
        "options": {}
      },
      "id": "d8e3ed8f-9b85-4f23-b47c-64129801ff27",
      "name": "Final Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3824,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apitesting.softclass.co/api/webhook/n8n/cartera",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer MiTokenSuperSecreto123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { data: $json } }}",
        "options": {}
      },
      "id": "9297103f-f04a-4130-a811-551f1f211931",
      "name": "Send to Laravel (cartera)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3504,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apitesting.softclass.co/api/webhook/n8n/op",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer MiTokenSuperSecreto123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { data: $json } }}",
        "options": {}
      },
      "id": "bbc78042-91c2-4e07-a750-8bb706f16536",
      "name": "Send to Laravel (op)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3504,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apitesting.softclass.co/api/webhook/n8n/pagos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer MiTokenSuperSecreto123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { data: $json } }}",
        "options": {}
      },
      "id": "c75f0eb7-c2f3-474b-8fc0-a2816eef407c",
      "name": "Send to Laravel (pagos)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3504,
        1072
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apitesting.softclass.co/api/webhook/n8n/opf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer MiTokenSuperSecreto123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { data: $json } }}",
        "options": {}
      },
      "id": "b2ec0317-cc22-4af8-b82e-dedef8bcc3f9",
      "name": "Send to Laravel (opf)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3504,
        1504
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Extract text from cartera": {
      "main": [
        [
          {
            "node": "Captura_Fecha_Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura_Fecha_Cartera": {
      "main": [
        [
          {
            "node": "Split Out Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Cartera": {
      "main": [
        [
          {
            "node": "Loop Over Items Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Cartera": {
      "main": [
        [
          {
            "node": "Code Extract Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Extract Cartera": {
      "main": [
        [
          {
            "node": "Code Order Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Order Cartera": {
      "main": [
        [
          {
            "node": "Send to Laravel (cartera)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text Factoring Op": {
      "main": [
        [
          {
            "node": "Captura_Fecha_Factoring_Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Factoring Op": {
      "main": [
        [
          {
            "node": "Loop Over Items Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Extract Factoring Op": {
      "main": [
        [
          {
            "node": "Send to Laravel (op)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Factoring Op": {
      "main": [
        [
          {
            "node": "Code Extract Factoring Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura_Fecha_Factoring_Op": {
      "main": [
        [
          {
            "node": "Split Out Factoring Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text Factoring Pagos": {
      "main": [
        [
          {
            "node": "Split Out Factoring Pagos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Factoring Pagos": {
      "main": [
        [
          {
            "node": "Loop Over Items Pagos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Factoring Pagos": {
      "main": [
        [
          {
            "node": "Code Extract Factoring Pagos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Extract Factoring Pagos": {
      "main": [
        [
          {
            "node": "Send to Laravel (pagos)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text Factoring Opf": {
      "main": [
        [
          {
            "node": "Captura_Fecha_Factoring_Opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura_Fecha_Factoring_Opf": {
      "main": [
        [
          {
            "node": "Split Out Factoring Opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Factoring Opf": {
      "main": [
        [
          {
            "node": "Loop Over Items Opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Factoring Opf": {
      "main": [
        [
          {
            "node": "Code Extract Factoring Opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Extract Factoring Opf": {
      "main": [
        [
          {
            "node": "Send to Laravel (opf)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract text from cartera",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract text Factoring Op",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract text Factoring Pagos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract text Factoring Opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items Cartera": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items Op": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Factoring Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items Pagos": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Factoring Pagos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items Opf": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Factoring Opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Laravel (cartera)": {
      "main": [
        [
          {
            "node": "Loop Over Items Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Laravel (op)": {
      "main": [
        [
          {
            "node": "Loop Over Items Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Laravel (pagos)": {
      "main": [
        [
          {
            "node": "Loop Over Items Pagos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Laravel (opf)": {
      "main": [
        [
          {
            "node": "Loop Over Items Opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "00086d6a-0ff8-4657-b294-a49d4f32489e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "12bf7a84e842b6d2299eb062c6a2b8d1e20a90ea68d980ab31c619edc9f028e8"
  },
  "id": "TcVXJIgXy9Padoc8F1WYX",
  "tags": []
}