Hosting/TestEnvironmentFactoringHost.json
{
  "name": "TestEnvironmentFactoringHost",
  "nodes": [
    {
      "parameters": {
        "options": {
          "batch": false
        }
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        160,
        16
      ],
      "id": "70600d9c-2b82-48c1-9f0a-f804fc82e2a3",
      "name": "Extract text from cartera",
      "credentials": {
        "mistralCloudApi": {
          "id": "dPmVTTuY3pvPZaYj",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1084fef7-1ec2-42ba-aab1-0928ec843753",
              "name": "fecha_reporte",
              "value": "={{ $json.pages[0].markdown.match(/Fecha Consulta:\\s*(\\d{2}\\/\\d{2}\\/\\d{4})/)[1] }}",
              "type": "string"
            },
            {
              "id": "9020b0b2-47cd-4eb3-89f2-39825362d4e3",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        16
      ],
      "id": "16114561-91a0-47e8-9095-779cd9f25f79",
      "name": "Captura_Fecha_Cartera"
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        16
      ],
      "id": "590ec543-abfd-4ca6-ad0a-d7b57ba97bc2",
      "name": "Split Out Cartera"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral-small-latest"
            },
            {
              "name": "messages",
              "value": "={{ \n[\n  {\n    \"role\": \"user\",\n    \"content\": \"Extrae la información completa del siguiente texto y devuélvela estrictamente en formato JSON. Incluye todos los campos disponibles sin omitir ninguno. Si un campo no tiene valor, usa null. Esquema requerido: { \\\"cliente\\\": { \\\"nombre\\\": \\\"\\\", \\\"id\\\": \\\"\\\", \\\"ciudad\\\": \\\"\\\", \\\"actividad_economica\\\": \\\"\\\" }, \\\"operacion\\\": { \\\"id\\\": \\\"\\\", \\\"saldo_total\\\": \\\"\\\", \\\"plazo_meses\\\": \\\"\\\", \\\"tasa_interes_nm\\\": \\\"\\\", \\\"plan_amortizacion\\\": \\\"\\\" }, \\\"garantia\\\": { \\\"estado\\\": \\\"\\\", \\\"tipo\\\": \\\"\\\", \\\"valor_avaluo\\\": \\\"\\\", \\\"detalle\\\": \\\"\\\" }, \\\"detalle_financiero\\\": { \\\"fecha_desembolso\\\": \\\"\\\", \\\"nro_radicado\\\": \\\"\\\", \\\"estado_capital\\\": \\\"\\\", \\\"fecha_vencimiento_capital\\\": \\\"\\\", \\\"valor_desembolso\\\": \\\"\\\", \\\"saldo_capital\\\": \\\"\\\", \\\"vencido\\\": \\\"\\\", \\\"dias_vencido\\\": \\\"\\\", \\\"valor_vencido\\\": \\\"\\\", \\\"tiene_mora\\\": \\\"\\\", \\\"valor_mora\\\": \\\"\\\", \\\"fecha_ultimo_abono\\\": \\\"\\\", \\\"valor_ultimo_abono\\\": \\\"\\\" } } Texto a procesar: \" + $json.markdown\n  }\n] \n}}"
            },
            {
              "name": "response_format",
              "value": "={{ {\"type\": \"json_object\"} }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        16
      ],
      "id": "261cdbca-5122-4794-95bd-59e7c6bf56e2",
      "name": "HTTP Request Cartera",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "ZmhNATF0vGQfKowg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let allRows = [];\n\n// 1. Función para limpiar números (Quita comas y convierte a número real)\nconst limpiarNumero = (valor) => {\n  if (typeof valor === 'number') return valor;\n  if (!valor || valor === \"-\") return 0;\n  // Quitamos las comas (separadores de miles)\n  // Mantenemos el punto si es decimal\n  let limpio = valor.toString().replace(/,/g, '');\n  return parseFloat(limpio) || 0;\n};\n\nlet fechaConsultaGlobal = \"\";\ntry {\n  fechaConsultaGlobal = $(\"Captura_Fecha_Cartera\").first().json.fecha_reporte;\n} catch (e) {\n  fechaConsultaGlobal = \"00/00/0000\";\n}\n\nfor (const item of $input.all()) {\n  try {\n    const rawContent = item.json.choices[0].message.content;\n    const data = JSON.parse(rawContent);\n    \n    let detalleUnificado = \"\";\n    if (data.garantia) {\n      const listaGarantias = Array.isArray(data.garantia) ? data.garantia : [data.garantia];\n      detalleUnificado = listaGarantias.map((g, i) => \n        `Garantía ${i + 1}: ${g.tipo || ''} - ${g.detalle || ''}`\n      ).join(' | ');\n    }\n\n    const detalles = Array.isArray(data.detalle_financiero) \n      ? data.detalle_financiero \n      : [data.detalle_financiero];\n\n    detalles.forEach(desembolso => {\n      const partes = fechaConsultaGlobal.split('/');\n      const mes = partes[1] || \"00\";\n      const anio = partes[2] || \"0000\";\n\n      allRows.push({\n        json: {\n          Cliente: data.cliente.nombre,\n          Identificación: data.cliente.id,\n          ActividadEconómica: data.cliente.actividad_economica,\n          Operación: data.operacion.id,\n          // --- APLICAMOS LIMPIEZA A CAMPOS NUMÉRICOS ---\n          SaldoTotal: limpiarNumero(data.operacion.saldo_total),\n          PlazoMeses: limpiarNumero(data.operacion.plazo_meses),\n          TasaInterés: limpiarNumero(data.operacion.tasa_interes_nm),\n          PlanAmortización: data.operacion.plan_amortizacion,\n          GarantiaDetalle: detalleUnificado, \n          EstadoGarantia: Array.isArray(data.garantia) ? data.garantia[0].estado : (data.garantia?.estado || null),\n          TipoGarantia: Array.isArray(data.garantia) ? data.garantia[0].tipo : (data.garantia?.tipo || null),\n          FechaDesembolso: desembolso.fecha_desembolso,\n          NumeroRadicado: desembolso.nro_radicado,\n          EstadoCapital: desembolso.estado_capital,\n          FechaVencimientoCapital: desembolso.fecha_vencimiento_capital,\n          ValorDesembolso: limpiarNumero(desembolso.valor_desembolso),\n          SaldoCapital: limpiarNumero(desembolso.saldo_capital),\n          Vencido: desembolso.vencido,\n          DiasVencido: limpiarNumero(desembolso.dias_vencido),\n          ValorVencido: limpiarNumero(desembolso.valor_vencido),\n          TieneMora: desembolso.tiene_mora,\n          ValorMora: limpiarNumero(desembolso.valor_mora),\n          FechaUltimoAbono: desembolso.fecha_ultimo_abono,\n          ValorUltimoAbono: limpiarNumero(desembolso.valor_ultimo_abono),\n          NombreArchivo: `Cartera_${mes}_${anio}.xlsx`\n        }\n      });\n    });\n  } catch (e) {\n    console.error(\"Error procesando un ítem: \", e);\n  }\n}\n\nreturn allRows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        16
      ],
      "id": "15b6bdcf-a167-4c31-b0c4-e5aab6323784",
      "name": "Code Extract Cartera"
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos todos los items que llegan al nodo\nconst items = $input.all();\n\n// 1. Ordenamos por nombre de Cliente para que el Excel sea profesional y organizado\nitems.sort((a, b) => {\n  const clienteA = (a.json[\"Cliente\"] || \"\").toLowerCase();\n  const clienteB = (b.json[\"Cliente\"] || \"\").toLowerCase();\n  if (clienteA < clienteB) return -1;\n  if (clienteA > clienteB) return 1;\n  return 0;\n});\n\n// 2. Mantenemos el nombre del archivo que ya viene procesado correctamente\n// No necesitamos volver a separar la fecha por '/' porque el nodo anterior ya hizo\n// el trabajo de extraer la Fecha de Consulta global.\nfor (let item of items) {\n  // Si por alguna razón el nombre llega vacío, ponemos uno por defecto, \n  // pero ya no usamos la FechaDesembolso para no separar el reporte en años viejos.\n  if (!item.json.NombreArchivo) {\n    item.json.NombreArchivo = \"Cartera_Reporte_General.xlsx\";\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        16
      ],
      "id": "2277c38c-aacb-4843-b071-2a642fd241e8",
      "name": "Code Order Cartera"
    },
    {
      "parameters": {
        "options": {
          "batch": false
        }
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        176,
        416
      ],
      "id": "654e8afa-d62c-4777-8c78-f89a7297b17c",
      "name": "Extract text Factoring Op",
      "credentials": {
        "mistralCloudApi": {
          "id": "dPmVTTuY3pvPZaYj",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        416
      ],
      "id": "7defc2fa-3f81-4b2d-a4e5-dc712792c06f",
      "name": "Split Out Factoring Op"
    },
    {
      "parameters": {
        "jsCode": "let allRows = [];\n\n// Función para limpiar números (Quita comas y convierte a número real)\nconst limpiarNumero = (valor) => {\n  if (typeof valor === 'number') return valor;\n  if (!valor || valor === \"-\" || valor === \"\") return 0;\n  // Quitamos las comas (separadores de miles) y convertimos a decimal\n  let limpio = valor.toString().replace(/,/g, '');\n  return parseFloat(limpio) || 0;\n};\n\nfor (const item of $input.all()) {\n  try {\n    // 1. Extraer el contenido del mensaje de Mistral\n    const rawContent = item.json.choices[0].message.content;\n    const data = JSON.parse(rawContent);\n\n    // 2. Extraer datos generales de la operación\n    const operacionNro = data.operacion.nro;\n    const tasaDescuento = limpiarNumero(data.operacion.tasa_descuento);\n    const fechaOperacion = $(\"Captura_Fecha_Factoring_Op\").first().json.fecha_reporte;\n    const cliente = data.operacion.cliente.nombre;\n    const clienteNit = data.operacion.cliente.nit;\n    const pagador = data.operacion.pagador.nombre;\n    const pagadorNit = data.operacion.pagador.nit;\n    const netoEntregar = limpiarNumero(data.liquidacion.valor_neto_entregar);\n\n    // 3. Recorrer cada factura en el detalle\n    if (data.detalle_facturas && Array.isArray(data.detalle_facturas)) {\n      data.detalle_facturas.forEach(fac => {\n        allRows.push({\n          json: {\n            Operacion: operacionNro,\n            Cliente: cliente,\n            NIT_Cliente: clienteNit,\n            Factura_Numero: fac.doc_nro,\n            // --- APLICAMOS LIMPIEZA A CAMPOS NUMÉRICOS ---\n            Monto: limpiarNumero(fac.valor_neto),\n            Dias: limpiarNumero(fac.dias),\n            Tasa_Descuento: tasaDescuento,\n            Pagador: pagador,\n            NIT_Pagador: pagadorNit,\n            Fecha_Aprobacion: fechaOperacion,\n            Valor_Aprobado: limpiarNumero(fac.valor_presente),\n            Valor_Desembolsado: netoEntregar, // Este es el neto de la liquidación general\n            Fecha_Desembolso: fac.fecha_inicial,\n            Fecha_Vencimiento: fac.fecha_vencimiento,\n            Valor_Reserva: limpiarNumero(fac.valor_reserva),\n            Descuento_Financiero: limpiarNumero(fac.descuento_financiero),\n            // Nombre de archivo sugerido\n            NombreArchivo: `Factoring_OP_${operacionNro}.xlsx`\n          }\n        });\n      });\n    }\n  } catch (e) {\n    console.error(\"Error en Code Extract Factoring: \", e);\n  }\n}\n\nreturn allRows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        416
      ],
      "id": "ed534d6e-a257-4b7d-ae8b-ed8797bad269",
      "name": "Code Extract Factoring Op"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral-small-latest"
            },
            {
              "name": "messages",
              "value": "={{ \n[\n  {\n    \"role\": \"user\",\n    \"content\": \"Analiza esta Solicitud de Operación. El OCR tiene un error de segmentación: la tabla de facturas se corta en 'Vr. Reserva' y los valores de 'Descuento Financiero' aparecen como líneas de texto sueltas justo después.\\n\\nINSTRUCCIONES DE EXTRACCIÓN DINÁMICA:\\n1. IDENTIFICACIÓN DE FILAS: Extrae cada factura manteniendo los 11 campos. \\n2. RECONSTRUCCIÓN DE COLUMNA: Para el campo 'descuento_financiero', busca los valores numéricos que el OCR extrajo como saltos de línea (`\\n`) o texto independiente fuera de los separadores '|'. \\n3. ASIGNACIÓN: El primer valor suelto corresponde a la primera factura, el segundo a la segunda, y así sucesivamente. No asumas que el valor está en la liquidación; búscalo en el cuerpo del texto.\\n\\nJSON REQUERIDO:\\n{\\n  \\\"operacion\\\": {\\n    \\\"nro\\\": \\\"\\\",\\n    \\\"fecha_operacion\\\": \\\"\\\",\\n    \\\"tasa_descuento\\\": \\\"\\\",\\n    \\\"cliente\\\": { \\\"nombre\\\": \\\"\\\", \\\"nit\\\": \\\"\\\" },\\n    \\\"pagador\\\": { \\\"nombre\\\": \\\"\\\", \\\"nit\\\": \\\"\\\" }\\n  },\\n  \\\"detalle_facturas\\\": [\\n    {\\n      \\\"doc_nro\\\": \\\"\\\",\\n      \\\"dias\\\": \\\"\\\",\\n      \\\"fecha_inicial\\\": \\\"\\\",\\n      \\\"fecha_vencimiento\\\": \\\"\\\",\\n      \\\"valor_neto\\\": \\\"\\\",\\n      \\\"valor_presente\\\": \\\"\\\",\\n      \\\"valor_reserva\\\": \\\"\\\",\\n      \\\"descuento_financiero\\\": \\\"\\\"\\n    }\\n  ],\\n  \\\"liquidacion\\\": { \\\"valor_neto_entregar\\\": \\\"\\\" }\\n}\\n\\nTexto a procesar: \" + $json.markdown\n  }\n] \n}}"
            },
            {
              "name": "response_format",
              "value": "={{ {\"type\": \"json_object\"} }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1088,
        416
      ],
      "id": "23bccd50-d024-494a-b77e-679c4f1b9d03",
      "name": "HTTP Request Factoring Op",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "ZmhNATF0vGQfKowg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1084fef7-1ec2-42ba-aab1-0928ec843753",
              "name": "fecha_reporte",
              "value": "={{ $json.pages[0].markdown.match(/\\|\\s*(\\d{2}\\/\\d{2}\\/\\d{4})/)[1] }}",
              "type": "string"
            },
            {
              "id": "9020b0b2-47cd-4eb3-89f2-39825362d4e3",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        416
      ],
      "id": "4f9f0a21-21ba-40e1-93dc-a9c794bc22ba",
      "name": "Captura_Fecha_Factoring_Op"
    },
    {
      "parameters": {
        "options": {
          "batch": false
        }
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        192,
        848
      ],
      "id": "b3feb61f-b1dd-4b51-917f-b0976b757f5e",
      "name": "Extract text Factoring Pagos",
      "credentials": {
        "mistralCloudApi": {
          "id": "dPmVTTuY3pvPZaYj",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        480,
        848
      ],
      "id": "68162432-8147-4abd-a79a-f1ee55726d40",
      "name": "Split Out Factoring Pagos"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral-small-latest"
            },
            {
              "name": "messages",
              "value": "={{ \n[\n  {\n    \"role\": \"user\",\n    \"content\": \"Analiza este documento de 'PAGOS CLIENTES'. Extrae la información detallada de la liquidación y el recaudo.\\n\\nINSTRUCCIONES DE EXTRACCIÓN:\\n1. GENERAL: Extrae el número de pago (PAGO N°.), el cliente, su NIT y la fecha de pago.\\n2. TABLA DE LIQUIDACIÓN: Extrae cada fila de la tabla 'Liquidación a fecha pago'. Debes incluir:\\n   - op_nro, doc_nro, pagador, dias, vr_total_titulo, vr_nominal, descuento_financiero, vr_pagado y saldo.\\n3. DETALLE RECAUDO: Extrae el 'Valor Recaudado' y el 'Total Devolución'.\\n\\nJSON REQUERIDO:\\n{\\n  \\\"pago\\\": {\\n    \\\"nro\\\": \\\"\\\",\\n    \\\"fecha\\\": \\\"\\\",\\n    \\\"cliente\\\": { \\\"nombre\\\": \\\"\\\", \\\"nit\\\": \\\"\\\", \\\"reliquidacion\\\": \\\"\\\", \\\"fecha_reliquidacion\\\": \\\"\\\" }\\n  },\\n  \\\"detalle_facturas\\\": [\\n    {\\n      \\\"op_nro\\\": \\\"\\\",\\n      \\\"doc_nro\\\": \\\"\\\",\\n      \\\"pagador\\\": \\\"\\\",\\n      \\\"cc_o_nit\\\": \\\"\\\",\\n      \\\"fecha_inicial\\\": \\\"\\\",\\n      \\\"fecha_final\\\": \\\"\\\",\\n      \\\"dias\\\": \\\"\\\",\\n      \\\"vr_total_titulo\\\": \\\"\\\",\\n      \\\"vr_nominal\\\": \\\"\\\",\\n      \\\"descuento_financiero\\\": \\\"\\\",\\n      \\\"vr_pagado\\\": \\\"\\\",\\n      \\\"saldo\\\": \\\"\\\"\\n    }\\n  ],\\n  \\\"recaudo\\\": {\\n    \\\"valor_recaudado\\\": \\\"\\\",\\n    \\\"total_devolucion\\\": \\\"\\\"\\n  }\\n}\\n\\nTexto a procesar: \" + $json.markdown\n  }\n] \n}}"
            },
            {
              "name": "response_format",
              "value": "={{ {\"type\": \"json_object\"} }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        848
      ],
      "id": "68720606-cdfd-4aaf-a037-0695e9daffa6",
      "name": "HTTP Request Factoring Pagos",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "ZmhNATF0vGQfKowg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let allRows = [];\n\n// Función para limpiar números (Quita comas y convierte a número real)\nconst limpiarNumero = (valor) => {\n  if (typeof valor === 'number') return valor;\n  if (!valor || valor === \"-\" || valor === \"\" || valor === undefined) return 0;\n  // Quitamos las comas (separadores de miles) y convertimos a decimal\n  let limpio = valor.toString().replace(/,/g, '');\n  return parseFloat(limpio) || 0;\n};\n\nfor (const item of $input.all()) {\n  try {\n    const rawContent = item.json.choices[0].message.content;\n    const data = JSON.parse(rawContent);\n\n    const pagoNro = data.pago.nro;\n    const fechaPago = data.pago.fecha;\n    const cliente = data.pago.cliente.nombre;\n    const nit = data.pago.cliente.nit;\n    const reliquidacion = data.pago.cliente.reliquidacion;\n    const fechaReliquidacion = data.pago.cliente.fecha_reliquidacion;\n    \n    // Limpiamos el valor recaudado general del comprobante\n    const valorRecaudado = limpiarNumero(data.recaudo.valor_recaudado);\n\n    if (data.detalle_facturas && Array.isArray(data.detalle_facturas)) {\n      data.detalle_facturas.forEach(fac => {\n        allRows.push({\n          json: {\n            Pago_Nro: pagoNro,\n            Fecha_Pago: fechaPago,\n            Cliente: cliente,\n            Nit: nit,\n            Reliquidacion: reliquidacion,\n            Fecha_Reliquidacion: fechaReliquidacion,\n            OP_Relacionada: fac.op_nro,\n            Factura_Nro: fac.doc_nro,\n            CC_o_NIT: fac.cc_o_nit,\n            Pagador: fac.pagador,\n            Fecha_Inicial: fac.fecha_inicial,\n            Fecha_Final: fac.fecha_final,\n            // --- CAMPOS NUMÉRICOS LIMPIOS ---\n            Dias_Cartera: limpiarNumero(fac.dias),\n            Valor_Titulo: limpiarNumero(fac.vr_total_titulo),\n            Valor_Nominal: limpiarNumero(fac.vr_nominal),\n            Descuento_Financiero: limpiarNumero(fac.descuento_financiero),\n            Monto_Pagado: limpiarNumero(fac.vr_pagado),\n            Saldo_Restante: limpiarNumero(fac.saldo),\n            Total_Recaudado_Comprobante: valorRecaudado,\n            // Nombre de archivo\n            NombreArchivo: `Pagos_Factoring_${pagoNro}.xlsx`\n          }\n        });\n      });\n    }\n  } catch (e) {\n    console.error(\"Error en Code Extract Pagos: \", e);\n  }\n}\n\nreturn allRows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        848
      ],
      "id": "5295886c-ec98-4924-a8c5-03e25cace9ac",
      "name": "Code Extract Factoring Pagos"
    },
    {
      "parameters": {
        "options": {
          "batch": false
        }
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        192,
        1280
      ],
      "id": "281df844-776e-4c67-bc59-d79fb73c6661",
      "name": "Extract text Factoring Opf",
      "credentials": {
        "mistralCloudApi": {
          "id": "dPmVTTuY3pvPZaYj",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1084fef7-1ec2-42ba-aab1-0928ec843753",
              "name": "fecha_reporte",
              "value": "={{ $json.pages[0].markdown.match(/\\|\\s*(\\d{2}\\/\\d{2}\\/\\d{4})/)[1] }}",
              "type": "string"
            },
            {
              "id": "9020b0b2-47cd-4eb3-89f2-39825362d4e3",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        1280
      ],
      "id": "6cd18670-74c9-40ef-81aa-77fdf25891b6",
      "name": "Captura_Fecha_Factoring_Opf"
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        640,
        1280
      ],
      "id": "098431dc-d3cc-4a13-bd2a-89d2721c2e1c",
      "name": "Split Out Factoring Opf"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral-small-latest"
            },
            {
              "name": "messages",
              "value": "={{ \n[\n  {\n    \"role\": \"user\",\n    \"content\": \"Analiza este documento de 'CONFIRMING-PAGO PROVEEDORES'. Extrae la información técnica y los títulos.\\n\\nINSTRUCCIONES CRÍTICAS DE FILTRADO:\\n1. TABLA DE TÍTULOS: Extrae solo los registros individuales de títulos. \\n2. EXCLUSIÓN: Ignora y NO extraigas las filas que digan 'Total:', 'Subtotal' o que contengan sumatorias de las columnas. Solo queremos los datos de cada factura/título por separado.\\n3. VALIDACIÓN: Cada objeto en 'detalle_titulos' debe tener un 'id_titulo' numérico real.\\n\\nINSTRUCCIONES DE EXTRACCIÓN:\\n1. ENCABEZADO: Extrae el número de operación (OPERACION N°.), Emisor, Deudor y NITs.\\n2. TASA: 'FACTOR DE DESCUENTO' (ej: 1.80% n.m.v.).\\n3. CAMPOS POR TÍTULO: id_titulo, fecha_inicial, fecha_final, dias, vr_nominal, reembolso_g_desembolso, base_negociacion, rend_proyectados y valor_pagar_deudor.\\n\\nJSON REQUERIDO:\\n{\\n  \\\"operacion\\\": {\\n    \\\"nro\\\": \\\"\\\",\\n    \\\"fecha\\\": \\\"\\\",\\n    \\\"factor_descuento\\\": \\\"\\\",\\n    \\\"emisor\\\": { \\\"nombre\\\": \\\"\\\", \\\"nit\\\": \\\"\\\" },\\n    \\\"deudor\\\": { \\\"nombre\\\": \\\"\\\", \\\"nit\\\": \\\"\\\" }\\n  },\\n  \\\"detalle_titulos\\\": [\\n    {\\n      \\\"id_titulo\\\": \\\"\\\",\\n      \\\"fecha_inicial\\\": \\\"\\\",\\n      \\\"fecha_final\\\": \\\"\\\",\\n      \\\"dias\\\": \\\"\\\",\\n      \\\"vr_nominal\\\": \\\"\\\",\\n      \\\"reembolso_g_desembolso\\\": \\\"\\\",\\n      \\\"base_negociacion\\\": \\\"\\\",\\n      \\\"rend_proyectados\\\": \\\"\\\",\\n      \\\"valor_pagar_deudor\\\": \\\"\\\"\\n    }\\n  ],\\n  \\\"liquidacion\\\": {\\n    \\\"valor_neto_entregar\\\": \\\"\\\"\\n  }\\n}\\n\\nTexto a procesar: \" + $json.markdown\n  }\n] \n}}"
            },
            {
              "name": "response_format",
              "value": "={{ {\"type\": \"json_object\"} }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1104,
        1280
      ],
      "id": "b39beca1-934a-4915-8b09-13a4040bf73c",
      "name": "HTTP Request Factoring Opf",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "ZmhNATF0vGQfKowg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let allRows = [];\n\n// Función para limpiar números (Quita comas y convierte a número real)\nconst limpiarNumero = (valor) => {\n  if (typeof valor === 'number') return valor;\n  if (!valor || valor === \"-\" || valor === \"\" || valor === undefined) return 0;\n  // Quitamos las comas (separadores de miles) y convertimos a decimal\n  let limpio = valor.toString().replace(/,/g, '');\n  return parseFloat(limpio) || 0;\n};\n\nfor (const item of $input.all()) {\n  try {\n    const rawContent = item.json.choices[0].message.content;\n    const data = JSON.parse(rawContent);\n\n    const opNro = data.operacion.nro;\n    const emisor = data.operacion.emisor.nombre;\n    const deudor = data.operacion.deudor.nombre;\n    const emisorNit = data.operacion.emisor.nit;\n    const deudorNit = data.operacion.deudor.nit;\n    const factor = limpiarNumero(data.operacion.factor_descuento);\n\n    if (data.detalle_titulos && Array.isArray(data.detalle_titulos)) {\n      data.detalle_titulos.forEach(titulo => {\n        allRows.push({\n          json: {\n            Operacion: opNro,\n            Emisor: emisor,\n            Emisor_Nit: emisorNit,\n            Deudor: deudor,\n            Deudor_Nit: deudorNit,\n            Tasa_Factor: factor,\n            ID_Titulo: titulo.id_titulo,\n            Fecha_Inicial: titulo.fecha_inicial,\n            Fecha_Final: titulo.fecha_final,\n            // --- CAMPOS NUMÉRICOS LIMPIOS ---\n            Dias: limpiarNumero(titulo.dias),\n            Valor_Nominal: limpiarNumero(titulo.vr_nominal),\n            Reembolso_G_Desembolso: limpiarNumero(titulo.reembolso_g_desembolso),\n            Base_Negociacion: limpiarNumero(titulo.base_negociacion),\n            Rendimientos_Proyectados: limpiarNumero(titulo.rend_proyectados),\n            Valor_Pagar_Deudor: limpiarNumero(titulo.valor_pagar_deudor),\n            // Nombre de archivo\n            NombreArchivo: `Confirming_${opNro}.xlsx`\n          }\n        });\n      });\n    }\n  } catch (e) {\n    console.error(\"Error en Code Extract Confirming: \", e);\n  }\n}\n\nreturn allRows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        1280
      ],
      "id": "1b91e7a5-1fa0-452b-985b-c72ac606294e",
      "name": "Code Extract Factoring Opf"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo",
          "mode": "list",
          "cachedResultName": "Dashboard_Proseguir",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Cartera",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cliente": "={{ $json.Cliente }}",
            "Identificación": "={{ $json[\"Identificación\"] }}",
            "Actividad Económica": "={{ $json[\"ActividadEconómica\"] }}",
            "Operación": "={{ $json[\"Operación\"] }}",
            "Saldo Total": "={{ $json.SaldoTotal }}",
            "Plazo Meses": "={{ $json.PlazoMeses }}",
            "Tasa Interés": "={{ $json[\"TasaInterés\"] }}",
            "Plan Amortización": "={{ $json[\"PlanAmortización\"] }}",
            "Garantia Detalle": "={{ $json.GarantiaDetalle }}",
            "Estado Garantia": "={{ $json.EstadoGarantia }}",
            "Tipo Garantia": "={{ $json.TipoGarantia }}",
            "Fecha Desembolso": "={{ $json.FechaDesembolso }}",
            "Numero Radicado": "={{ $json.NumeroRadicado }}",
            "Estado Capital": "={{ $json.EstadoCapital }}",
            "Fecha Vencimiento Capital": "={{ $json.FechaVencimientoCapital }}",
            "Valor Desembolso": "={{ $json.ValorDesembolso }}",
            "Saldo Capital": "={{ $json.SaldoCapital }}",
            "Vencido": "={{ $json.Vencido }}",
            "Dias Vencido": "={{ $json.DiasVencido }}",
            "Valor Vencido": "={{ $json.ValorVencido }}",
            "Tiene Mora": "={{ $json.TieneMora }}",
            "Valor Mora": "={{ $json.ValorMora }}",
            "Fecha Ultimo Abono": "={{ $json.FechaUltimoAbono }}",
            "Valor Ultimo Abono": "={{ $json.ValorUltimoAbono }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Identificación",
              "displayName": "Identificación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Actividad Económica",
              "displayName": "Actividad Económica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Operación",
              "displayName": "Operación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Saldo Total",
              "displayName": "Saldo Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Plazo Meses",
              "displayName": "Plazo Meses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tasa Interés",
              "displayName": "Tasa Interés",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Plan Amortización",
              "displayName": "Plan Amortización",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Garantia Detalle",
              "displayName": "Garantia Detalle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado Garantia",
              "displayName": "Estado Garantia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo Garantia",
              "displayName": "Tipo Garantia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Desembolso",
              "displayName": "Fecha Desembolso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Numero Radicado",
              "displayName": "Numero Radicado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado Capital",
              "displayName": "Estado Capital",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Vencimiento Capital",
              "displayName": "Fecha Vencimiento Capital",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Desembolso",
              "displayName": "Valor Desembolso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Saldo Capital",
              "displayName": "Saldo Capital",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Vencido",
              "displayName": "Vencido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dias Vencido",
              "displayName": "Dias Vencido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Vencido",
              "displayName": "Valor Vencido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tiene Mora",
              "displayName": "Tiene Mora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Mora",
              "displayName": "Valor Mora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Ultimo Abono",
              "displayName": "Fecha Ultimo Abono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Ultimo Abono",
              "displayName": "Valor Ultimo Abono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        16
      ],
      "id": "a2abd1ee-c05a-46f3-827d-47bc8a4df4b7",
      "name": "Append row in sheet Cartera",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IQ64KKPVTh0rPTRr",
          "name": "Google Sheets account test"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo",
          "mode": "list",
          "cachedResultName": "Dashboard_Proseguir",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1141479176,
          "mode": "list",
          "cachedResultName": "Factoring_Op",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit#gid=1141479176"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cliente": "={{ $json.Cliente }}",
            "Fecha Desembolso": "={{ $json.Fecha_Desembolso }}",
            "Operacion": "={{ $json.Operacion }}",
            "NIT Cliente": "={{ $json.NIT_Cliente }}",
            "Factura Número": "={{ $json.Factura_Numero }}",
            "Monto": "={{ $json.Monto }}",
            "Dias": "={{ $json.Dias }}",
            "Tasa Descuento": "={{ $json.Tasa_Descuento }}",
            "Pagador": "={{ $json.Pagador }}",
            "NIT Pagador": "={{ $json.NIT_Pagador }}",
            "Fecha Aprobación": "={{ $json.Fecha_Aprobacion }}",
            "Valor Aprobado": "={{ $json.Valor_Aprobado }}",
            "Valor Desembolsado": "={{ $json.Valor_Desembolsado }}",
            "Fecha Vencimiento": "={{ $json.Fecha_Vencimiento }}",
            "Valor Reserva": "={{ $json.Valor_Reserva }}",
            "Descuento Financiero": "={{ $json.Descuento_Financiero }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Operacion",
              "displayName": "Operacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NIT Cliente",
              "displayName": "NIT Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Factura Número",
              "displayName": "Factura Número",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Monto",
              "displayName": "Monto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dias",
              "displayName": "Dias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tasa Descuento",
              "displayName": "Tasa Descuento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pagador",
              "displayName": "Pagador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NIT Pagador",
              "displayName": "NIT Pagador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Aprobación",
              "displayName": "Fecha Aprobación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Aprobado",
              "displayName": "Valor Aprobado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Desembolsado",
              "displayName": "Valor Desembolsado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Desembolso",
              "displayName": "Fecha Desembolso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Vencimiento",
              "displayName": "Fecha Vencimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Reserva",
              "displayName": "Valor Reserva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Descuento Financiero",
              "displayName": "Descuento Financiero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        416
      ],
      "id": "f9f1d6b6-24be-4c01-9a42-85e8cc4ab6d9",
      "name": "Append row in sheet Factoring Op",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IQ64KKPVTh0rPTRr",
          "name": "Google Sheets account test"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo",
          "mode": "list",
          "cachedResultName": "Dashboard_Proseguir",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 275563529,
          "mode": "list",
          "cachedResultName": "Factoring_Pagos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit#gid=275563529"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cliente": "={{ $json.Cliente }}",
            "Pagador": "={{ $json.Pagador }}",
            "Descuento Financiero": "={{ $json.Descuento_Financiero }}",
            "Pago Nro": "={{ $json.Pago_Nro }}",
            "Fecha Pago": "={{ $json.Fecha_Pago }}",
            "Nit": "={{ $json.Nit }}",
            "Reliquidación": "={{ $json.Reliquidacion }}",
            "Fecha Reliquidación": "={{ $json.Fecha_Reliquidacion }}",
            "OP Relacionada": "={{ $json.OP_Relacionada }}",
            "Factura Nro": "={{ $json.Factura_Nro }}",
            "CC ó NIT": "={{ $json.CC_o_NIT }}",
            "Fecha Inicial": "={{ $json.Fecha_Inicial }}",
            "Fecha Final": "={{ $json.Fecha_Final }}",
            "Dias Cartera": "={{ $json.Dias_Cartera }}",
            "Valor Titulo": "={{ $json.Valor_Titulo }}",
            "Valor Nominal": "={{ $json.Valor_Nominal }}",
            "Monto Pagado": "={{ $json.Monto_Pagado }}",
            "Saldo Restante": "={{ $json.Saldo_Restante }}",
            "Total Recaudado Comprobante": "={{ $json.Total_Recaudado_Comprobante }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Pago Nro",
              "displayName": "Pago Nro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Pago",
              "displayName": "Fecha Pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nit",
              "displayName": "Nit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reliquidación",
              "displayName": "Reliquidación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Reliquidación",
              "displayName": "Fecha Reliquidación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OP Relacionada",
              "displayName": "OP Relacionada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Factura Nro",
              "displayName": "Factura Nro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CC ó NIT",
              "displayName": "CC ó NIT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pagador",
              "displayName": "Pagador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Inicial",
              "displayName": "Fecha Inicial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Final",
              "displayName": "Fecha Final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dias Cartera",
              "displayName": "Dias Cartera",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Titulo",
              "displayName": "Valor Titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Nominal",
              "displayName": "Valor Nominal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Descuento Financiero",
              "displayName": "Descuento Financiero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Monto Pagado",
              "displayName": "Monto Pagado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Saldo Restante",
              "displayName": "Saldo Restante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Recaudado Comprobante",
              "displayName": "Total Recaudado Comprobante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        848
      ],
      "id": "273173f5-784a-44ae-bf3b-0d5c74ad0ff7",
      "name": "Append row in sheet Factoring Pagos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IQ64KKPVTh0rPTRr",
          "name": "Google Sheets account test"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo",
          "mode": "list",
          "cachedResultName": "Dashboard_Proseguir",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 649210181,
          "mode": "list",
          "cachedResultName": "Confirming_OPF",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit#gid=649210181"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Operacion": "={{ $json.Operacion }}",
            "Dias": "={{ $json.Dias }}",
            "Emisor": "={{ $json.Emisor }}",
            "Emisor Nit": "={{ $json.Emisor_Nit }}",
            "Deudor": "={{ $json.Deudor }}",
            "Deudor Nit": "={{ $json.Deudor_Nit }}",
            "Tasa Factor": "={{ $json.Tasa_Factor }}",
            "ID Titulo": "={{ $json.ID_Titulo }}",
            "Fecha Inicial": "={{ $json.Fecha_Inicial }}",
            "Fecha Final": "={{ $json.Fecha_Final }}",
            "Valor Nominal": "={{ $json.Valor_Nominal }}",
            "Reembolso G Desembolso": "={{ $json.Reembolso_G_Desembolso }}",
            "Base Negociación": "={{ $json.Base_Negociacion }}",
            "Rendimientos Proyectados": "={{ $json.Rendimientos_Proyectados }}",
            "Valor Pagar Deudor": "={{ $json.Valor_Pagar_Deudor }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Operacion",
              "displayName": "Operacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Emisor",
              "displayName": "Emisor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Emisor Nit",
              "displayName": "Emisor Nit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Deudor",
              "displayName": "Deudor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Deudor Nit",
              "displayName": "Deudor Nit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tasa Factor",
              "displayName": "Tasa Factor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID Titulo",
              "displayName": "ID Titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Inicial",
              "displayName": "Fecha Inicial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Final",
              "displayName": "Fecha Final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dias",
              "displayName": "Dias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Nominal",
              "displayName": "Valor Nominal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reembolso G Desembolso",
              "displayName": "Reembolso G Desembolso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Base Negociación",
              "displayName": "Base Negociación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rendimientos Proyectados",
              "displayName": "Rendimientos Proyectados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Pagar Deudor",
              "displayName": "Valor Pagar Deudor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        1280
      ],
      "id": "04f92b25-b553-455d-b3c7-4b97b3edae5d",
      "name": "Append row in sheet Factoring Opf",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IQ64KKPVTh0rPTRr",
          "name": "Google Sheets account test"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "factoring-upload",
        "responseMode": "lastNode",
        "options": {
          "responsePropertyName": "data",
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        656
      ],
      "id": "cff67d90-a917-4eb6-87d9-f3176865de89",
      "name": "Webhook",
      "webhookId": "81490588-8735-4342-bb87-e74df507cc15"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.categoria }}",
                    "rightValue": "cartera",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bf8af8c8-d491-4740-b432-7e46349176d0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "0"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3762618b-8fbf-4b3c-9687-e044f9f37bba",
                    "leftValue": "={{ $json.body.categoria }}",
                    "rightValue": "op",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2d557822-ffab-45c7-a392-1482b1578c4d",
                    "leftValue": "={{ $json.body.categoria }}",
                    "rightValue": "pagos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fc0f5b02-2ad2-4769-8438-a3b0126351a1",
                    "leftValue": "={{ $json.body.categoria }}",
                    "rightValue": "opf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -128,
        624
      ],
      "id": "82ffd566-ee0d-40ee-9d2d-ec4fffe61872",
      "name": "Switch"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        768,
        16
      ],
      "id": "8161c8a3-dc91-4d4d-96e9-5a90276c6eca",
      "name": "Loop Over Items Cartera"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo",
          "mode": "list",
          "cachedResultName": "Dashboard_Proseguir",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 870386121,
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit#gid=870386121"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $now }}",
            "Archivo": "={{ $item(0).$node[\"Webhook\"].binary.data.fileName }}",
            "Categoría": "={{ $item(0).$node[\"Webhook\"].json.body.categoria }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Archivo",
              "displayName": "Archivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Categoría",
              "displayName": "Categoría",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1072,
        -160
      ],
      "id": "9f8df907-37d1-4bfd-8652-83c9b6135b6f",
      "name": "Append row in sheet Log Cartera",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IQ64KKPVTh0rPTRr",
          "name": "Google Sheets account test"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        864,
        416
      ],
      "id": "e23bf723-f61a-4566-97de-b405c2041096",
      "name": "Loop Over Items Op"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo",
          "mode": "list",
          "cachedResultName": "Dashboard_Proseguir",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 870386121,
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit#gid=870386121"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $now }}",
            "Archivo": "={{ $item(0).$node[\"Webhook\"].binary.data.fileName }}",
            "Categoría": "={{ $item(0).$node[\"Webhook\"].json.body.categoria }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Archivo",
              "displayName": "Archivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Categoría",
              "displayName": "Categoría",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1072,
        240
      ],
      "id": "53aed15e-3056-4fc2-985f-a7ed2b5cc33d",
      "name": "Append row in sheet Log Op",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IQ64KKPVTh0rPTRr",
          "name": "Google Sheets account test"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        720,
        848
      ],
      "id": "3ceeb9bc-c9f7-4712-82ef-58e11b23e80e",
      "name": "Loop Over Items Pagos"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo",
          "mode": "list",
          "cachedResultName": "Dashboard_Proseguir",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 870386121,
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit#gid=870386121"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $now }}",
            "Archivo": "={{ $item(0).$node[\"Webhook\"].binary.data.fileName }}",
            "Categoría": "={{ $item(0).$node[\"Webhook\"].json.body.categoria }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Archivo",
              "displayName": "Archivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Categoría",
              "displayName": "Categoría",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        656
      ],
      "id": "c6b16029-b2af-42a1-8d89-6fff2702d11a",
      "name": "Append row in sheet Log Pagos",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IQ64KKPVTh0rPTRr",
          "name": "Google Sheets account test"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        864,
        1280
      ],
      "id": "bcd19111-2eec-44f4-9c39-0b0e9394a669",
      "name": "Loop Over Items Opf"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo",
          "mode": "list",
          "cachedResultName": "Dashboard_Proseguir",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 870386121,
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14IdAdRySKb_PBq8gX42jLjpuv5TTit6nvTKp151Upwo/edit#gid=870386121"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $now }}",
            "Archivo": "={{ $item(0).$node[\"Webhook\"].binary.data.fileName }}",
            "Categoría": "={{ $item(0).$node[\"Webhook\"].json.body.categoria }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Archivo",
              "displayName": "Archivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Categoría",
              "displayName": "Categoría",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        1088
      ],
      "id": "568752a4-b78a-414f-b28e-b9d475f14a13",
      "name": "Append row in sheet Log Opf",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IQ64KKPVTh0rPTRr",
          "name": "Google Sheets account test"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.softclass.online",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36",
            "content-length": "250138",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-419,es;q=0.9,en;q=0.8",
            "content-type": "multipart/form-data; boundary=----WebKitFormBoundaryUBtAiMAJMhBrzZ3A",
            "origin": "https://testing.softclass.co",
            "priority": "u=1, i",
            "referer": "https://testing.softclass.co/",
            "sec-ch-ua": "\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Google Chrome\";v=\"144\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "186.119.137.180",
            "x-forwarded-host": "n8n.softclass.online",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "8f1987b3d801",
            "x-real-ip": "186.119.137.180"
          },
          "params": {},
          "query": {},
          "body": {
            "categoria": "cartera"
          },
          "webhookUrl": "https://n8n.softclass.online/webhook/factoring-upload",
          "executionMode": "production"
        },
        "binary": {
          "data": {
            "mimeType": "application/pdf",
            "fileType": "pdf",
            "fileExtension": "pdf",
            "data": "filesystem-v2",
            "fileName": "Reporte-REPORTE_CARTERA_MAS_GARANTIAS 17 feb.pdf",
            "id": "filesystem-v2:workflows/Fw6JjQed10qOh20m/executions/temp/binary_data/770b9625-1148-444f-8de5-d3465ac6a74f",
            "fileSize": "250 kB"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Extract text from cartera": {
      "main": [
        [
          {
            "node": "Captura_Fecha_Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura_Fecha_Cartera": {
      "main": [
        [
          {
            "node": "Split Out Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Cartera": {
      "main": [
        [
          {
            "node": "Loop Over Items Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Cartera": {
      "main": [
        [
          {
            "node": "Code Extract Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Extract Cartera": {
      "main": [
        [
          {
            "node": "Code Order Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Order Cartera": {
      "main": [
        [
          {
            "node": "Append row in sheet Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text Factoring Op": {
      "main": [
        [
          {
            "node": "Captura_Fecha_Factoring_Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Factoring Op": {
      "main": [
        [
          {
            "node": "Loop Over Items Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Extract Factoring Op": {
      "main": [
        [
          {
            "node": "Append row in sheet Factoring Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Factoring Op": {
      "main": [
        [
          {
            "node": "Code Extract Factoring Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura_Fecha_Factoring_Op": {
      "main": [
        [
          {
            "node": "Split Out Factoring Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text Factoring Pagos": {
      "main": [
        [
          {
            "node": "Split Out Factoring Pagos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Factoring Pagos": {
      "main": [
        [
          {
            "node": "Loop Over Items Pagos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Factoring Pagos": {
      "main": [
        [
          {
            "node": "Code Extract Factoring Pagos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Extract Factoring Pagos": {
      "main": [
        [
          {
            "node": "Append row in sheet Factoring Pagos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text Factoring Opf": {
      "main": [
        [
          {
            "node": "Captura_Fecha_Factoring_Opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura_Fecha_Factoring_Opf": {
      "main": [
        [
          {
            "node": "Split Out Factoring Opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Factoring Opf": {
      "main": [
        [
          {
            "node": "Loop Over Items Opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Factoring Opf": {
      "main": [
        [
          {
            "node": "Code Extract Factoring Opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Extract Factoring Opf": {
      "main": [
        [
          {
            "node": "Append row in sheet Factoring Opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet Cartera": {
      "main": [
        [
          {
            "node": "Loop Over Items Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract text from cartera",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract text Factoring Op",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract text Factoring Pagos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract text Factoring Opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet Factoring Op": {
      "main": [
        [
          {
            "node": "Loop Over Items Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet Factoring Pagos": {
      "main": [
        [
          {
            "node": "Loop Over Items Pagos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet Factoring Opf": {
      "main": [
        [
          {
            "node": "Loop Over Items Opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items Cartera": {
      "main": [
        [
          {
            "node": "Append row in sheet Log Cartera",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Cartera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items Op": {
      "main": [
        [
          {
            "node": "Append row in sheet Log Op",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Factoring Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items Pagos": {
      "main": [
        [
          {
            "node": "Append row in sheet Log Pagos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Factoring Pagos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items Opf": {
      "main": [
        [
          {
            "node": "Append row in sheet Log Opf",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Factoring Opf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "fa3eacf8-a597-4413-8638-1639a0285544",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "12bf7a84e842b6d2299eb062c6a2b8d1e20a90ea68d980ab31c619edc9f028e8"
  },
  "id": "Fw6JjQed10qOh20m",
  "tags": [
    {
      "updatedAt": "2026-01-19T15:46:44.896Z",
      "createdAt": "2026-01-19T15:46:44.896Z",
      "id": "xSz4dsKTdZmU0oVd",
      "name": "1.0"
    }
  ]
}